Repository openshift/sriov-network-operator, pull requests merged in 2019-09, with the labels that each got.

#69 Bug 1744929: Sort the policies by both priority and name
  pkg/apis/sriovnetwork/v1/helper.go
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
Labels: bugzilla/valid-bug, lgtm, size/M

#72 BUG 1746329: Not create NetworkAttachmentDefinition CR if already exists
  pkg/controller/sriovnetwork/sriovnetwork_controller.go
Labels: bugzilla/valid-bug, lgtm, size/M

#76 BUG 1750323: Add a global manager to watch net-att-def in all namespaces
  cmd/manager/main.go
  pkg/controller/add_sriovnetwork.go
  pkg/controller/controller.go
  pkg/controller/sriovnetwork/sriovnetwork_controller.go
Labels: bugzilla/valid-bug, lgtm, size/L

#77 Fix path used to enter source directory
  doc/quickstart.md
Labels: lgtm, size/XS

#78 Add mandatory nodeSelector to quickstart policy example
  doc/quickstart.md
Labels: lgtm, size/XS

#80 BUG 1754738: fix nil reference
  pkg/controller/sriovnetwork/sriovnetwork_controller.go
Labels: bugzilla/valid-bug, lgtm, size/XS

#84 Bug 1756471: Add operator bundle for 4.3
  manifests/4.3/image-references
  manifests/4.3/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.3/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.3/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.3/sriov-network-operator.v0.0.1.clusterserviceversion.yaml
Labels: bugzilla/valid-bug, lgtm, size/S

#85 BUG 1756283: Fix 4.2 image references
  manifests/4.2/sriov-network-operator.v0.0.1.clusterserviceversion.yaml
Labels: bugzilla/valid-bug, cherry-pick-approved, lgtm, size/XS
