Repository openshift/sriov-network-operator, pull requests merged in 2019-10, with the labels that each got.

#90 e2e: fix invalid resource name
  test/e2e/e2e_test.go
Labels: lgtm, size/S

#91 add manifests/art.yaml
  manifests/art.yaml
Labels: lgtm, size/S

#87 BUG 1756669: Always use PF device ID in NIC selector
  deploy/crds/sriovnetwork_v1_sriovnetworknodepolicy_crd.yaml
  manifests/4.3/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  pkg/apis/sriovnetwork/v1/helper.go
  pkg/apis/sriovnetwork/v1/sriovnetworknodepolicy_types.go
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
Labels: bugzilla/valid-bug, lgtm, size/M

#93 use consistent sriov label
  README.md
  doc/quickstart.md
  manifests/4.3/sriov-network-operator.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/XS

#97 Fail image build if packages cannot be installed
  Dockerfile.sriov-network-config-daemon
  Dockerfile.sriov-network-config-daemon.rhel7
Labels: lgtm, size/XS

#94 Introduce Sriov Operator Config API
  cmd/manager/main.go
  deploy/crds/sriovnetwork.openshift.io_sriovoperatorconfigs_crd.yaml
  deploy/crds/sriovnetwork.openshift.io_v1_sriovoperatorconfig_cr.yaml
  deploy/operator.yaml
  hack/deploy-setup.sh
  hack/undeploy.sh
  manifests/4.3/sriov-network-operator.v0.0.1.clusterserviceversion.yaml
  pkg/apis/sriovnetwork/v1/sriovnetworknodepolicy_types.go
  pkg/apis/sriovnetwork/v1/sriovoperatorconfig_types.go
  pkg/apis/sriovnetwork/v1/zz_generated.deepcopy.go
  pkg/apis/sriovnetwork/v1/zz_generated.openapi.go
  pkg/apply/apply.go
  pkg/apply/merge.go
  pkg/apply/merge_test.go
  pkg/controller/add_sriovoperatorconfig.go
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
  pkg/controller/sriovoperatorconfig/sriovoperatorconfig_controller.go
Labels: lgtm, size/XXL

#98 Revert "Introduce Sriov Operator Config API"
  cmd/manager/main.go
  deploy/crds/sriovnetwork.openshift.io_sriovoperatorconfigs_crd.yaml
  deploy/crds/sriovnetwork.openshift.io_v1_sriovoperatorconfig_cr.yaml
  deploy/operator.yaml
  hack/deploy-setup.sh
  hack/undeploy.sh
  manifests/4.3/sriov-network-operator.v0.0.1.clusterserviceversion.yaml
  pkg/apis/sriovnetwork/v1/sriovnetworknodepolicy_types.go
  pkg/apis/sriovnetwork/v1/sriovoperatorconfig_types.go
  pkg/apis/sriovnetwork/v1/zz_generated.deepcopy.go
  pkg/apis/sriovnetwork/v1/zz_generated.openapi.go
  pkg/apply/apply.go
  pkg/apply/merge.go
  pkg/apply/merge_test.go
  pkg/controller/add_sriovoperatorconfig.go
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
  pkg/controller/sriovoperatorconfig/sriovoperatorconfig_controller.go
Labels: lgtm, size/XXL

#101 Reconcile nodepolicy secondary resources periodically
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
Labels: lgtm, size/M

#92 Add udev rule to prevent NetworkManager from managing VFs
  pkg/apis/sriovnetwork/v1/helper.go
  pkg/daemon/daemon.go
Labels: lgtm, size/M

#81 Bug 1755188: fix nil reference
  pkg/controller/sriovnetwork/sriovnetwork_controller.go
Labels: bugzilla/valid-bug, cherry-pick-approved, lgtm, size/XS

#96 Add admission controller webhook for the Operator API
  Dockerfile.webhook
  Dockerfile.webhook.rhel7
  Gopkg.lock
  Makefile
  cmd/webhook/main.go
  cmd/webhook/start.go
  hack/env.sh
  pkg/webhook/client.go
  pkg/webhook/config.go
  pkg/webhook/mutate.go
  pkg/webhook/scheme.go
  pkg/webhook/validate.go
  pkg/webhook/webhook.go
  vendor/github.com/fsnotify/fsnotify/AUTHORS
  vendor/github.com/fsnotify/fsnotify/LICENSE
  vendor/github.com/fsnotify/fsnotify/fen.go
  vendor/github.com/fsnotify/fsnotify/fsnotify.go
  vendor/github.com/fsnotify/fsnotify/inotify.go
  vendor/github.com/fsnotify/fsnotify/inotify_poller.go
  vendor/github.com/fsnotify/fsnotify/kqueue.go
  vendor/github.com/fsnotify/fsnotify/open_mode_bsd.go
  vendor/github.com/fsnotify/fsnotify/open_mode_darwin.go
  vendor/github.com/fsnotify/fsnotify/windows.go
Labels: lgtm, size/XXL

#95 update VF flag API
  bindata/manifests/cni-config/sriov-cni-config.yaml
  deploy/crds/sriovnetwork.openshift.io_sriovnetworknodepolicies_crd.yaml
  deploy/crds/sriovnetwork.openshift.io_sriovnetworks_crd.yaml
  pkg/apis/sriovnetwork/v1/sriovnetwork_types.go
  pkg/apis/sriovnetwork/v1/sriovnetworknodepolicy_types.go
  pkg/apis/sriovnetwork/v1/zz_generated.deepcopy.go
  pkg/apis/sriovnetwork/v1/zz_generated.openapi.go
  pkg/controller/sriovnetwork/sriovnetwork_controller.go
Labels: lgtm, size/L

#102 add capabilities field in sriovnetwork
  bindata/manifests/cni-config/sriov-cni-config.yaml
  deploy/crds/sriovnetwork.openshift.io_sriovnetworks_crd.yaml
  pkg/apis/sriovnetwork/v1/sriovnetwork_types.go
  pkg/apis/sriovnetwork/v1/zz_generated.openapi.go
  pkg/controller/sriovnetwork/sriovnetwork_controller.go
Labels: lgtm, size/S

#103 remove quotes of vlanQoS in generated net-attach-def
  bindata/manifests/cni-config/sriov-cni-config.yaml
Labels: lgtm, size/XS

#104 fix e2e errors
  hack/run-e2e-test.sh
  test/e2e/e2e_test.go
Labels: lgtm, size/M

#107 Add gofmt and format go code
  Makefile
  cmd/manager/main.go
  cmd/webhook/start.go
  hack/go-fmt.sh
  pkg/apis/sriovnetwork/v1/helper.go
  pkg/apis/sriovnetwork/v1/sriovnetwork_types.go
  pkg/apis/sriovnetwork/v1/sriovnetworknodepolicy_types.go
  pkg/apis/sriovnetwork/v1/sriovnetworknodestate_types.go
  pkg/apis/sriovnetwork/v1/sriovoperatorconfig_types.go
  pkg/controller/caconfig/caconfig_controller.go
  pkg/controller/controller.go
  pkg/controller/sriovnetwork/sriovnetwork_controller.go
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
  pkg/daemon/daemon.go
  pkg/webhook/client.go
  pkg/webhook/config.go
  pkg/webhook/mutate.go
  pkg/webhook/validate.go
  pkg/webhook/webhook.go
  test/e2e/e2e_test.go
Labels: lgtm, size/L

#108 Fix RBAC for operator deployment.
  deploy/clusterrole.yaml
  deploy/operator.yaml
  hack/env.sh
  hack/run-e2e-test.sh
  manifests/4.3/sriov-network-operator.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/S

#110 Do not require mstflint on s390x
  Dockerfile.sriov-network-config-daemon
  Dockerfile.sriov-network-config-daemon.rhel7
Labels: lgtm, ok-to-test, size/XS
