Repository openshift/sriov-network-operator, pull requests merged in 2019-08, with the labels that each got.

#49 Fix OMPS not find packageName in manifests
  manifests/sriov-network-operator.package.yaml
Labels: lgtm, size/XS

#45 Add testcases for testing SriovNetwork CR creation
  test/e2e/e2e_test.go
Labels: lgtm, size/L

#46 Use rpm-ostree to set kargs on RHCOS
  bindata/scripts/enable-kargs.sh
Labels: lgtm, size/S

#55 Fix kargs loading issue on RHCOS
  bindata/scripts/enable-kargs.sh
  pkg/daemon/daemon.go
  pkg/plugins/generic/generic_plugin.go
Labels: lgtm, size/S

#47 Make it possible to override the cni binary path
  bindata/manifests/plugins/sriov-cni.yaml
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
Labels: lgtm, ok-to-test, size/S

#57 Add doc to test config daemon changes locally
  doc/quickstart.md
Labels: lgtm, ok-to-test, size/XS

#52 Fix single port NICs bug for link type attribte
  pkg/plugins/mellanox/mellanox_plugin.go
Labels: lgtm, ok-to-test, size/L

#50 Remove existing net-att-def and create a new one when networkNamepace…
  pkg/controller/sriovnetwork/sriovnetwork_controller.go
Labels: lgtm, size/M

#54 Don't crash if grubby is not installed
  bindata/scripts/enable-kargs.sh
  pkg/plugins/generic/generic_plugin.go
Labels: lgtm, ok-to-test, size/S

#61 Fix operator installation instructions
  doc/quickstart.md
Labels: lgtm, needs-ok-to-test, size/XS

#56 Update entire DaemonSet CR
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
Labels: lgtm, size/XS

#64 Bug 1740665: Bump OperatorGroup version to v1
  manifests/4.2/sriov-network-operator.v0.0.1.clusterserviceversion.yaml
Labels: bugzilla/valid-bug, lgtm, size/XS

#58 Bug 1738421: Re-create default nodePolicy CR when it deleted
  bindata/manifests/webhook/002-rbac.yaml
  hack/env.sh
  pkg/controller/sriovnetwork/sriovnetwork_controller.go
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
Labels: bugzilla/valid-bug, lgtm, size/L

#62 Add a deploy-setup-k8s rule to deploy on upstream
  Makefile
  deploy/operator.yaml
  doc/quickstart.md
  hack/deploy-setup.sh
  hack/run-e2e-test.sh
Labels: lgtm, ok-to-test, size/S

#65 Bug 1735728: Add description to operator user facing CRDs.
  deploy/crds/sriovnetwork_v1_sriovnetwork_crd.yaml
  deploy/crds/sriovnetwork_v1_sriovnetworknodepolicy_crd.yaml
  manifests/4.2/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.2/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  pkg/apis/k8s/v1/zz_generated.deepcopy.go
  pkg/apis/k8s/v1/zz_generated.openapi.go
  pkg/apis/sriovnetwork/v1/sriovnetwork_types.go
  pkg/apis/sriovnetwork/v1/sriovnetworknodepolicy_types.go
  pkg/apis/sriovnetwork/v1/sriovnetworknodestate_types.go
  pkg/apis/sriovnetwork/v1/zz_generated.deepcopy.go
  pkg/apis/sriovnetwork/v1/zz_generated.openapi.go
Labels: bugzilla/valid-bug, lgtm, size/L

#66 Add test cases for update/delete SriovNetwork CR
  test/e2e/e2e_test.go
Labels: lgtm, size/L

#68 Add info about using kubectl instead of oc in case of k8s
  doc/quickstart.md
Labels: lgtm, ok-to-test, size/XS

#71 BUG 1745942: Remove latest symbol link in manifest folder
  manifests/latest
Labels: bugzilla/valid-bug, lgtm, size/XS
