Repository openshift/sriov-network-operator, pull requests merged in 2019-07, with the labels that each got.

#4 Fix changing GOPATH in update-codegen.sh
  hack/update-codegen.sh
Labels: lgtm, size/XS

#6 Support k8s command
  Makefile
  hack/common
  hack/deploy-setup.sh
  hack/deploy.sh
  hack/undeploy.sh
Labels: lgtm, size/M

#8 Use openshift origin image
  deploy/operator.yaml
Labels: lgtm, size/XS

#10 Optimize the logic of setting MTU
  Gopkg.lock
  pkg/utils/utils.go
  vendor/github.com/cenkalti/backoff/LICENSE
  vendor/github.com/cenkalti/backoff/backoff.go
  vendor/github.com/cenkalti/backoff/context.go
  vendor/github.com/cenkalti/backoff/exponential.go
  vendor/github.com/cenkalti/backoff/retry.go
  vendor/github.com/cenkalti/backoff/ticker.go
  vendor/github.com/cenkalti/backoff/tries.go
Labels: lgtm, size/XL

#12 Add validation for custom resources
  deploy/crds/sriovnetwork_v1_sriovnetwork_crd.yaml
  deploy/crds/sriovnetwork_v1_sriovnetworknodepolicy_crd.yaml
  pkg/apis/sriovnetwork/v1/sriovnetwork_types.go
  pkg/apis/sriovnetwork/v1/sriovnetworknodepolicy_types.go
  pkg/apis/sriovnetwork/v1/zz_generated.openapi.go
Labels: lgtm, size/M

#7 Check for config daemon locally first
  bindata/manifests/daemon/daemonset.yaml
Labels: lgtm, size/XS

#14 Move vfio-pci loading function from intel plugin to generic plugin
  pkg/plugins/generic/generic_plugin.go
  pkg/plugins/intel/intel_plugin.go
Labels: lgtm, size/L

#18 Change mellanox nodePolicy yaml
  deploy/crds/sriovnetwork_v1_sriovnetworknodepolicy_cr.yaml
Labels: lgtm, ok-to-test, size/XS

#13 add sriov admission controller support
  bindata/manifests/webhook/001-service.yaml
  bindata/manifests/webhook/002-rbac.yaml
  bindata/manifests/webhook/003-webhook.yaml
  bindata/manifests/webhook/004-configmap.yaml
  bindata/manifests/webhook/server.yaml
  deploy/operator.yaml
  hack/env.sh
  manifests/4.2/image-references
  manifests/4.2/sriov-network-operator.v0.0.1.clusterserviceversion.yaml
  pkg/controller/add_caconfig.go
  pkg/controller/caconfig/caconfig_controller.go
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
Labels: lgtm, size/XL

#5 Add make image
  Makefile
Labels: lgtm, size/S

#19 Adjust CR validation
  cmd/manager/main.go
  deploy/crds/sriovnetwork_v1_sriovnetworknodepolicy_crd.yaml
  pkg/apis/sriovnetwork/v1/sriovnetworknodepolicy_types.go
  pkg/apis/sriovnetwork/v1/zz_generated.openapi.go
Labels: lgtm, size/M

#22 Fixed ENABLE_ADMISSION_CONTROLLER envvar type to string
  deploy/operator.yaml
  manifests/4.2/sriov-network-operator.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/XS

#9 Add mellanox plugin
  Dockerfile
  Dockerfile.rhel7
  Dockerfile.sriov-network-config-daemon
  Dockerfile.sriov-network-config-daemon.rhel7
  Makefile
  pkg/plugins/mellanox/mellanox_plugin.go
Labels: lgtm, ok-to-test, size/L

#25 Add cluster roles required by the operator
  deploy/clusterrole.yaml
Labels: lgtm, size/XS

#26 Fix RBAC for deploying cluster resource
  deploy/clusterrole.yaml
  deploy/role.yaml
  manifests/4.2/sriov-network-operator.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/S

#23 Skip generic plugin if reboot needed
  pkg/daemon/daemon.go
Labels: lgtm, ok-to-test, size/XS

#16 sriovnetwork crd: add vf properities
  bindata/manifests/cni-config/sriov-cni-config.yaml
  deploy/crds/sriovnetwork_v1_sriovnetwork_crd.yaml
  manifests/4.2/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.2/sriov-network-operator.v0.0.1.clusterserviceversion.yaml
  pkg/apis/sriovnetwork/v1/sriovnetwork_types.go
  pkg/apis/sriovnetwork/v1/zz_generated.deepcopy.go
  pkg/apis/sriovnetwork/v1/zz_generated.openapi.go
  pkg/controller/sriovnetwork/sriovnetwork_controller.go
Labels: lgtm, size/M

#28 Use different images for operator and daemon
  Dockerfile
  Dockerfile.rhel7
  deploy/operator.yaml
  hack/env.sh
  manifests/4.2/image-references
  manifests/4.2/sriov-network-operator.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/M

#20 Load RDMA kernel modules for RHEL node
  bindata/scripts/enable-rdma.sh
  pkg/daemon/daemon.go
Labels: lgtm, size/M

#24 Add syncStatus and lastSyncError to SrivoNetworkNodeState CR
  cmd/sriov-network-config-daemon/start.go
  deploy/crds/sriovnetwork_v1_sriovnetworknodestate_crd.yaml
  manifests/4.2/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.2/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.2/sriov-network-operator-sriovnetworknodestate.crd.yaml
  pkg/apis/sriovnetwork/v1/sriovnetworknodestate_types.go
  pkg/apis/sriovnetwork/v1/zz_generated.openapi.go
  pkg/daemon/daemon.go
  pkg/daemon/writer.go
  pkg/utils/utils.go
Labels: lgtm, size/L

#21 Do not hardcode GOOS/GOARCH
  Dockerfile
  Dockerfile.rhel7
  Dockerfile.sriov-network-config-daemon
  Dockerfile.sriov-network-config-daemon.rhel7
  hack/build-go.sh
  hack/build-plugins.sh
Labels: lgtm, ok-to-test, size/M

#30 Add verify in Makefile and gofmt
  Makefile
  cmd/manager/main.go
  pkg/apis/sriovnetwork/v1/sriovnetwork_types.go
  pkg/apis/sriovnetwork/v1/sriovnetworknodepolicy_types.go
  pkg/apis/sriovnetwork/v1/sriovnetworknodestate_types.go
  pkg/controller/sriovnetwork/sriovnetwork_controller.go
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
  pkg/daemon/daemon.go
  pkg/daemon/writer.go
  pkg/plugins/generic/generic_plugin.go
  pkg/plugins/intel/intel_plugin.go
  pkg/plugins/mellanox/mellanox_plugin.go
  pkg/utils/utils.go
  test/e2e/e2e_test.go
Labels: lgtm, size/L

#38 build scripts: remove no_openssl
  hack/build-go.sh
  hack/build-plugins.sh
Labels: lgtm, size/XS

#39 Install hwdata pacakge in config daemon image
  Dockerfile.sriov-network-config-daemon
  Dockerfile.sriov-network-config-daemon.rhel7
Labels: lgtm, size/XS

#35 Fix update NetAttDefs in different namespaces
  pkg/controller/sriovnetwork/sriovnetwork_controller.go
Labels: lgtm, size/M

#40 bind webhook to targetPort 6443
  bindata/manifests/webhook/001-service.yaml
  bindata/manifests/webhook/server.yaml
Labels: lgtm, size/XS

#41 Change package name to match the repo name
  manifests/4.2/sriov-network-operator.package.yaml
Labels: lgtm, size/XS

#27 Add a note about worker label needed to start sriov config daemon
  doc/quickstart.md
Labels: lgtm, size/XS

#33 Fix e2e tests
  Makefile
  bindata/manifests/cni-config/sriov-cni-config.yaml
  hack/env.sh
  hack/run-e2e-test-locally.sh
  hack/run-e2e-test.sh
  hack/run-locally.sh
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
  test/e2e/e2e_test.go
Labels: lgtm, size/M

#44 update resource name prefix
  deploy/operator.yaml
  hack/env.sh
  manifests/4.2/sriov-network-operator.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, size/XS

#42 Fix the nic selection logic for updating SriovNetworkNodeState
  pkg/apis/sriovnetwork/v1/helper.go
Labels: lgtm, size/M

#36 Fix mlnx plugin when linkType is IB
  Dockerfile.sriov-network-config-daemon
  Dockerfile.sriov-network-config-daemon.rhel7
  pkg/plugins/mellanox/mellanox_plugin.go
Labels: lgtm, ok-to-test, size/L
