Repository openshift/sriov-network-operator, pull requests merged in 2019-11, with the labels that each got.

#111 Operator Webhook: Validate max allowed VFs for Mellanox nics
  pkg/webhook/validate.go
Labels: lgtm, size/XS

#109 Add min/max_tx_rate flags for VF
  bindata/manifests/cni-config/sriov-cni-config.yaml
  deploy/crds/sriovnetwork.openshift.io_sriovnetworks_crd.yaml
  pkg/apis/sriovnetwork/v1/sriovnetwork_types.go
  pkg/apis/sriovnetwork/v1/zz_generated.deepcopy.go
  pkg/apis/sriovnetwork/v1/zz_generated.openapi.go
  pkg/controller/sriovnetwork/sriovnetwork_controller.go
Labels: lgtm, size/M

#113 BUG 1768359: Keep operator bundle up-to-date
  manifests/4.3/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.3/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.3/sriov-network-operator.v0.0.1.clusterserviceversion.yaml
Labels: bugzilla/valid-bug, lgtm, size/S

#114 Update maxTxRate and minTxRate change to Operator bundle
  manifests/4.3/sriov-network-operator-sriovnetwork.crd.yaml
Labels: lgtm, size/S

#115 BUG 1768346: sync sriovoperatorconfig crd
  manifests/4.3/sriov-network-operator-sriovoperatorconfig.crd.yaml
Labels: bugzilla/valid-bug, lgtm, size/S

#117 Add operator bundle for 4.4
  manifests/4.4/image-references
  manifests/4.4/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.4/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.4/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.4/sriov-network-operator-sriovoperatorconfig.crd.yaml
  manifests/4.4/sriov-network-operator.v0.0.1.clusterserviceversion.yaml
Labels: lgtm, ok-to-test, size/XL

#119 BUG 1770709: Use "preserveUnknownFields: false" for the CRD
  Makefile
  deploy/crds/sriovnetwork.openshift.io_sriovnetworknodepolicies_crd.yaml
  deploy/crds/sriovnetwork.openshift.io_sriovnetworknodestates_crd.yaml
  deploy/crds/sriovnetwork.openshift.io_sriovnetworks_crd.yaml
  deploy/crds/sriovnetwork.openshift.io_sriovoperatorconfigs_crd.yaml
  hack/undeploy.sh
  manifests/4.3/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.3/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.3/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.3/sriov-network-operator-sriovoperatorconfig.crd.yaml
  manifests/4.4/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.4/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.4/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.4/sriov-network-operator-sriovoperatorconfig.crd.yaml
Labels: bugzilla/valid-bug, lgtm

#118 BUG 1770642: Set PF MTU when deviceType is vfio
  pkg/utils/utils.go
Labels: bugzilla/valid-bug, lgtm, size/M

#120 Bug 1771233: Webhook patch both priority and deviceType
  pkg/webhook/mutate.go
Labels: bugzilla/valid-bug, lgtm, size/S

#121 Bug 1772696: 4.2: Do not require mstflint on s390x
  Dockerfile.sriov-network-config-daemon
  Dockerfile.sriov-network-config-daemon.rhel7
Labels: bugzilla/valid-bug, cherry-pick-approved, lgtm, ok-to-test, size/XS

#122 BUG 1773840: Prepare operator bundle for 4.3
  deploy/operator.yaml
  hack/env.sh
  manifests/4.3/sriov-network-operator.v4.3.0.clusterserviceversion.yaml
  manifests/4.4/sriov-network-operator.v4.4.0.clusterserviceversion.yaml
  manifests/art.yaml
  manifests/sriov-network-operator.package.yaml
Labels: bugzilla/valid-bug, lgtm, size/M

#124 Bug 1771984: Optimize node draining condition
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
  pkg/daemon/daemon.go
  pkg/plugins/generic/generic_plugin.go
  pkg/utils/driver.go
  pkg/utils/utils.go
Labels: bugzilla/valid-bug, lgtm, size/L

#127 BUG 1773840: update the CSV file skipRange
  manifests/4.3/sriov-network-operator.v4.3.0.clusterserviceversion.yaml
  manifests/4.4/sriov-network-operator.v4.4.0.clusterserviceversion.yaml
Labels: bugzilla/valid-bug, lgtm, size/XS
