Repository openshift/sriov-network-operator, pull requests merged in 2020-03, with the labels that each got.

#163 Replace the hardcoded CNI network name (sriov-net) with Network Name from SR-IOV network
  bindata/manifests/cni-config/sriov-cni-config.yaml
  test/e2e/e2e_test.go
Labels: lgtm, size/XS

#166 Bug 1814919: Prevent user from setting numVfs to '0'
  cmd/manager/main.go
  deploy/crds/sriovnetwork.openshift.io_sriovnetworknodepolicies_crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.5/sriov-network-operator-sriovoperatorconfig.crd.yaml
  pkg/apis/sriovnetwork/v1/sriovnetworknodepolicy_types.go
Labels: bugzilla/valid-bug, lgtm

#171 Revert "Bug 1814919: Prevent user from setting numVfs to '0'"
  cmd/manager/main.go
  deploy/crds/sriovnetwork.openshift.io_sriovnetworknodepolicies_crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.5/sriov-network-operator-sriovoperatorconfig.crd.yaml
  pkg/apis/sriovnetwork/v1/sriovnetworknodepolicy_types.go
Labels: bugzilla/valid-bug, lgtm

#173 Add conformance test suite from sriov-tests
  Makefile
  go.mod
  go.sum
  hack/run-e2e-conformance.sh
  hack/run-test.sh
  test/conformance/operator_test.go
  test/conformance/test.go
  test/conformance/test_suite_test.go
  test/conformance/vfs_assignement_test.go
  vendor/github.com/onsi/gomega/gstruct/elements.go
  vendor/github.com/onsi/gomega/gstruct/errors/nested_types.go
  vendor/github.com/onsi/gomega/gstruct/fields.go
  vendor/github.com/onsi/gomega/gstruct/ignore.go
  vendor/github.com/onsi/gomega/gstruct/keys.go
  vendor/github.com/onsi/gomega/gstruct/pointer.go
  vendor/github.com/onsi/gomega/gstruct/types.go
  vendor/github.com/openshift/sriov-tests/LICENSE
  vendor/github.com/openshift/sriov-tests/pkg/k8sreporter/reporter.go
  vendor/github.com/openshift/sriov-tests/pkg/util/client/clients.go
  vendor/github.com/openshift/sriov-tests/pkg/util/cluster/cluster.go
  vendor/github.com/openshift/sriov-tests/pkg/util/execute/ginkgo.go
  vendor/github.com/openshift/sriov-tests/pkg/util/namespaces/namespaces.go
  vendor/github.com/openshift/sriov-tests/pkg/util/network/network.go
  vendor/github.com/openshift/sriov-tests/pkg/util/pod/pod.go
  vendor/modules.txt
Labels: lgtm

#172 Bug 1814919: Prevent users from setting NumVf to 0 in policy by the operator webhook
  manifests/4.5/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.5/sriov-network-operator-sriovoperatorconfig.crd.yaml
  pkg/apis/sriovnetwork/v1/helper.go
  pkg/webhook/validate.go
Labels: bugzilla/valid-bug, lgtm

#164 Add flag 'logLevel' in SriovOperatorConfig
  bindata/manifests/daemon/daemonset.yaml
  cmd/manager/main.go
  deploy/crds/sriovnetwork.openshift.io_sriovoperatorconfigs_crd.yaml
  manifests/4.5/sriov-network-operator-sriovoperatorconfig.crd.yaml
  pkg/apis/sriovnetwork/v1/sriovoperatorconfig_types.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/fake/fake_sriovnetwork_client.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/fake/fake_sriovoperatorconfig.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/generated_expansion.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/sriovnetwork_client.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/sriovoperatorconfig.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/sriovnetwork/v1/interface.go
  pkg/client/informers/externalversions/sriovnetwork/v1/sriovoperatorconfig.go
  pkg/client/listers/sriovnetwork/v1/expansion_generated.go
  pkg/client/listers/sriovnetwork/v1/sriovoperatorconfig.go
  pkg/daemon/daemon.go
Labels: lgtm, size/XL

#155 Bug 1798880: Prevent user from configuring overlapped VfRange
  deploy/crds/sriovnetwork.openshift.io_sriovnetworknodestates_crd.yaml
  pkg/apis/sriovnetwork/v1/helper.go
  pkg/apis/sriovnetwork/v1/sriovnetworknodestate_types.go
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
Labels: bugzilla/valid-bug, lgtm, size/L

#167 [release-4.4] Bug 1814921: Prevent user from setting numVfs to '0'
  pkg/apis/sriovnetwork/v1/helper.go
  pkg/webhook/validate.go
Labels: bugzilla/valid-bug, cherry-pick-approved, lgtm

#174 Bug 1798880: Sync the 4.5 manifest
  manifests/4.5/sriov-network-operator-sriovnetworknodestate.crd.yaml
  pkg/webhook/validate_test.go
  test/e2e/sriovoperatornodepolicy_test.go
Labels: bugzilla/valid-bug, lgtm

#176 add sriov operator must-gather
  must-gather/Dockerfile
  must-gather/Dockerfile.rhel7
  must-gather/collection-scripts/gather
Labels: lgtm
