Repository openshift/sriov-network-operator, pull requests merged in 2020-12, with the labels that each got.

#429 Fix tests of rendering net-att-def config
  Makefile
  controllers/suite_test.go
  test/util/util.go
Labels: approved, lgtm

#425 Fix logic in case SKIP_VAR_SET is set
  hack/env.sh
Labels: approved, lgtm, ok-to-test

#424 Make the clean policies the last operation of clean.Clean.
  test/util/clean/clean.go
  test/util/namespaces/namespaces.go
Labels: approved, lgtm

#428 Only use env variable ENABLE_ADMISSION_CONTROLLER for initialization
  controllers/sriovoperatorconfig_controller.go
Labels: approved, lgtm

#435 Update DP daemonset to support device info
  bindata/manifests/plugins/sriov-device-plugin.yaml
Labels: approved, lgtm

#420 Automatically copy generated yaml files to the ./manifests/4.7 dir
  Makefile
Labels: approved, lgtm

#416 Allow non supported hardware for testing purposes
  api/v1/helper.go
  deploy/role.yaml
  deploy/role_binding.yaml
  pkg/daemon/daemon.go
  pkg/webhook/validate.go
Labels: approved, lgtm, ok-to-test

#434 Fix metaplugins name to metaPlugins to meet naming convention
  api/v1/sriovnetwork_types.go
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworks.yaml
Labels: approved, lgtm, ok-to-test

#413 Bug 1898595: Fix the sriov daemon selector assignement
  go.mod
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#400 Add support for OpenStack metadata
  api/v1/helper.go
  api/v1/sriovnetworknodepolicy_types.go
  api/v1/sriovnetworknodestate_types.go
  cmd/sriov-network-config-daemon/start.go
  controllers/sriovnetworknodepolicy_controller.go
  pkg/daemon/daemon.go
  pkg/daemon/writer.go
  pkg/utils/utils_virtual.go
Labels: approved, lgtm

#412 Conformance tests: add a test that runs a pod with a vf from the primary pf.
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm

#437 Fix 'make test-pkg', move manifests to separate directory
  pkg/render/render_test.go
  pkg/render/testdata/manifests/multiple.yaml
  pkg/render/testdata/manifests/simple.json
  pkg/render/testdata/manifests/simple.yaml
  pkg/render/testdata/manifests/template.yaml
Labels: approved, lgtm

#439 add --insecure=true flag for network-resouces-injector daemon
  bindata/manifests/webhook/server.yaml
Labels: approved, lgtm

#440 Fix webhook tests
  pkg/webhook/validate_test.go
Labels: approved, lgtm

#441 Update the CRD files for OpenStack metadata
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  manifests/4.7/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.7/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.7/sriov-network-operator-sriovnetworknodestate.crd.yaml
Labels: approved, lgtm

#436 Re-enable logs disabled during operator-sdk upgarde
  controllers/sriovnetworknodepolicy_controller.go
Labels: approved, lgtm

#431 Bug 1900736: Use node specific data for device plugin config
  bindata/manifests/plugins/sriov-device-plugin.yaml
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#451 Bug 1905368: Sync to upstream 12-24
  Makefile
  bindata/manifests/machine-config/ovs-units/ovs-vswitchd.service.yaml
  controllers/sriovibnetwork_controller.go
  controllers/sriovibnetwork_controller_test.go
  controllers/sriovnetwork_controller.go
  controllers/sriovnetwork_controller_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#453 Bug 1911654: Fix sriov test
  controllers/sriovibnetwork_controller_test.go
  controllers/sriovnetwork_controller_test.go
  test/conformance/tests/sriov_operator.go
  test/util/network/network.go
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, lgtm
