Repository openshift/sriov-network-operator, pull requests merged in 2020-08, with the labels that each got.

#322 Bug 1866618: Correct the default 'isRdma' mutation
  pkg/webhook/mutate.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#309 BUG 1859231: Set empty ipam to net-att-def when users don't specify ipam in SriovN…
  pkg/controller/sriovnetwork/sriovnetwork_controller.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#311 [release-4.5] Bug 1860286: load plugins only when none has been loaded
  pkg/daemon/daemon.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#325 Bug 1870669: Fix the isInterfaceSlave function
  test/conformance/tests/sriov_operator.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#326 Bug 1870915: Enable sriov webhook to access replica rbac resources
  bindata/manifests/webhook/002-rbac.yaml
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#327 Bug 1870547: Not update VF mtu if it's not retrievable or zero
  pkg/utils/utils.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#323 BUG 1867529: mellanox plugin - fix resetting unsupported NICs
  pkg/plugins/mellanox/mellanox_plugin.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm
