Repository openshift/sriov-network-operator, pull requests merged in 2020-05, with the labels that each got.

#202 Bug 1830497: Use privileged SCC to replace runlevel
  bindata/manifests/plugins/002-rbac.yaml
  deploy/namespace.yaml
  deploy/role.yaml
  manifests/4.5/sriov-network-operator.v4.5.0.clusterserviceversion.yaml
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
Labels: bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#203 Bug 1833436: Focus the cleanup only on sriov networks / policies created by the tests
  test/conformance/tests/sriov_operator.go
  test/conformance/tests/vfs_assignement.go
  test/util/namespaces/namespaces.go
Labels: bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#207 Bug 1834141: Fix draining watch
  pkg/daemon/daemon.go
Labels: bugzilla/severity-unspecified, bugzilla/valid-bug, lgtm

#205 Bug 1834371: Change the logs search in the test
  test/util/cluster/cluster.go
Labels: bugzilla/severity-unspecified, bugzilla/valid-bug, lgtm

#209 Bug 1834371: Change the tests image
  test/conformance/tests/sriov_operator.go
  test/conformance/tests/vfs_assignement.go
  test/util/images/images.go
  test/util/network/network.go
  test/util/pod/pod.go
Labels: bugzilla/severity-unspecified, bugzilla/valid-bug, lgtm

#204 Bug 1832728: Use operator webhook to prevent users from configuring unsupported de…
  deploy/crds/sriovnetwork.openshift.io_sriovnetworknodepolicies_crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  pkg/apis/sriovnetwork/v1/sriovnetworknodepolicy_types.go
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
Labels: bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#210 Bug 1833603: Limit the range of logLevel and add detailed description
  deploy/crds/sriovnetwork.openshift.io_sriovoperatorconfigs_crd.yaml
  manifests/4.5/sriov-network-operator-sriovoperatorconfig.crd.yaml
  pkg/apis/sriovnetwork/v1/sriovoperatorconfig_types.go
Labels: bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#212 Bug 1836149: Make it possible to configure the cluster waiting timeout.
  test/conformance/tests/sriov_operator.go
Labels: bugzilla/severity-unspecified, bugzilla/valid-bug, lgtm

#213 Bug 1836912: Make the tests work on both 4.5 and 4.4 cluster.
  test/conformance/tests/sriov_operator.go
  test/conformance/tests/vfs_assignement.go
  test/util/cluster/cluster.go
Labels: bugzilla/severity-unspecified, bugzilla/valid-bug, lgtm

#208 Bug 1834201: Retrieve the latest status of SriovNetworkNodeState CR
  pkg/daemon/daemon.go
Labels: bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#221 Bug 1840160: Wait for the pod to be running before fetching the logs
  test/conformance/tests/sriov_operator.go
  test/util/cluster/cluster.go
Labels: bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#222 Bug 1840104: Make the daemon more resilient to failures.
  pkg/daemon/daemon.go
Labels: bugzilla/severity-high, bugzilla/valid-bug, lgtm

#200 Bug 1836212: Introduce a custom Dailer to close TCP connections when heartbeat fails
  cmd/sriov-network-config-daemon/start.go
  pkg/daemon/writer.go
  pkg/utils/utils.go
Labels: bugzilla/severity-unspecified, bugzilla/valid-bug, lgtm
