Repository openshift/sriov-network-operator, pull requests merged in 2020-04, with the labels that each got.

#177 Add fedepaol & SchSeba as approvers of the conformance tests section
  test/conformance/OWNERS
Labels: lgtm

#178 Make the tests implementation belong to a different package.
  go.mod
  go.sum
  test/conformance/test_suite_test.go
  test/conformance/tests/init.go
  test/conformance/tests/sriov_operator.go
  test/conformance/tests/vfs_assignement.go
  test/util/k8sreporter/reporter.go
  vendor/github.com/openshift/sriov-tests/LICENSE
  vendor/github.com/openshift/sriov-tests/pkg/util/client/clients.go
  vendor/github.com/openshift/sriov-tests/pkg/util/cluster/cluster.go
  vendor/github.com/openshift/sriov-tests/pkg/util/execute/ginkgo.go
  vendor/github.com/openshift/sriov-tests/pkg/util/namespaces/namespaces.go
  vendor/github.com/openshift/sriov-tests/pkg/util/network/network.go
  vendor/github.com/openshift/sriov-tests/pkg/util/pod/pod.go
  vendor/modules.txt
Labels: lgtm

#179 Bug 1822202: Check the /proc/cmdline to see if a reboot is needed for enabling iommu
  bindata/scripts/enable-kargs.sh
Labels: bugzilla/valid-bug, lgtm

#188 Add component and subcomponent in OWNERS file
  OWNERS
Labels: lgtm

#189 remove squeed from reviewers
  OWNERS
Labels: lgtm

#192 Keep 'lastSyncError' content until 'syncStatus' becomes succeeded
  hack/build-plugins.sh
  pkg/daemon/writer.go
Labels: lgtm

#187 Use DeepDerivative to compare the the kube object content
  pkg/apply/apply.go
  pkg/apply/merge.go
Labels: lgtm

#193 Add the [sriov] tag to conformance tests, to make it easier to filter
  test/conformance/tests/sriov_operator.go
  test/conformance/tests/vfs_assignement.go
Labels: lgtm

#175 BUG 1815039: Retrieve the latest status of SriovNetworkNodeState CR when update is…
  pkg/daemon/daemon.go
Labels: bugzilla/valid-bug, lgtm

#191 Raising a meaningful error message if iommu is not enabled in bios
  pkg/utils/driver.go
Labels: lgtm

#195 BUG 1825203: fix manifest typo
  manifests/4.3/sriov-network-operator.v4.3.0.clusterserviceversion.yaml
  manifests/4.4/sriov-network-operator.v4.4.0.clusterserviceversion.yaml
  manifests/4.5/sriov-network-operator.v4.5.0.clusterserviceversion.yaml
Labels: bugzilla/unspecified, bugzilla/valid-bug, lgtm

#185 Make tests more stable
  test/conformance/tests/sriov_operator.go
  test/util/cluster/cluster.go
  test/util/pod/pod.go
Labels: lgtm

#198 Bug 1828691: Add support for running tests in a disconnected environment.
  test/conformance/tests/sriov_operator.go
  test/conformance/tests/vfs_assignement.go
  test/util/client/clients.go
  test/util/images/images.go
  test/util/pod/pod.go
Labels: bugzilla/severity-low, bugzilla/valid-bug, lgtm
