Repository openshift/sriov-network-operator, pull requests merged in 2020-02, with the labels that each got.

#145 Revert "Bump master to version 4.5"
  manifests/4.5/image-references
  manifests/4.5/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.5/sriov-network-operator-sriovoperatorconfig.crd.yaml
  manifests/4.5/sriov-network-operator.v4.5.0.clusterserviceversion.yaml
  manifests/art.yaml
  manifests/sriov-network-operator.package.yaml
  pkg/version/version.go
Labels: lgtm, size/XL

#142 Bug 1770668: Optimize SrivoNetwork CR update logic
  pkg/apis/sriovnetwork/v1/helper.go
  pkg/controller/sriovnetwork/sriovnetwork_controller.go
  test/e2e/e2e_test.go
Labels: bugzilla/valid-bug, lgtm, size/L

#146 BUG 1798043: Optimize VF configure logic
  cmd/sriov-network-config-daemon/start.go
  deploy/crds/sriovnetwork.openshift.io_sriovnetworknodestates_crd.yaml
  manifests/4.4/sriov-network-operator-sriovnetworknodestate.crd.yaml
  pkg/daemon/daemon.go
  pkg/utils/driver.go
  pkg/utils/utils.go
Labels: bugzilla/valid-bug, lgtm, size/M

#149 BUG 1798886: Allow user to set vf range to '0-0'
  pkg/apis/sriovnetwork/v1/helper.go
Labels: bugzilla/valid-bug, lgtm, size/XS

#150 Revert "BUG 1798886: Allow user to set vf range to '0-0'"
  pkg/apis/sriovnetwork/v1/helper.go
Labels: bugzilla/valid-bug, lgtm, size/XS

#151 BUG 1798886: Allow user to set vf range to '0-0'
  pkg/apis/sriovnetwork/v1/helper.go
Labels: bugzilla/valid-bug, lgtm, size/S

#148 BUG 1800426: Not delete the daemonset of device and cni plugins, delete the pods instead
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
Labels: bugzilla/valid-bug, lgtm, size/S

#152 Bug 1802936: Set default vfRange when pfName is not specified in policy
  pkg/apis/sriovnetwork/v1/helper.go
Labels: bugzilla/valid-bug, lgtm, size/XS

#154 Bump master to version 4.5
  manifests/4.5/image-references
  manifests/4.5/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.5/sriov-network-operator-sriovoperatorconfig.crd.yaml
  manifests/4.5/sriov-network-operator.v4.5.0.clusterserviceversion.yaml
  manifests/art.yaml
  manifests/sriov-network-operator.package.yaml
  pkg/version/version.go
Labels: lgtm, size/XL

#147 [release-4.3] BUG 1798344: Optimize VF configure logic
  cmd/sriov-network-config-daemon/start.go
  pkg/daemon/daemon.go
  pkg/utils/driver.go
  pkg/utils/utils.go
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, size/S

#157 use Namespace from global variable
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
  pkg/controller/sriovoperatorconfig/sriovoperatorconfig_controller.go
Labels: lgtm, size/S

#159 [release-4.3] Bug 1806376: Fix api version for daemonsets in operator bundle
  manifests/4.3/sriov-network-operator.v4.3.0.clusterserviceversion.yaml
Labels: bugzilla/valid-bug, cherry-pick-approved, lgtm, size/XS
