Repository openshift/sriov-network-operator, pull requests merged in 2020-06, with the labels that each got.

#232 BUG 1843374:Set empty ipam to net-att-def when users don't specify ipam in SriovNetwork
  pkg/controller/sriovnetwork/sriovnetwork_controller.go
Labels: bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#225 Bug 1841063: [Release-4.4] Introduce a custom Dailer to close TCP connections when heartbeat fails
  cmd/sriov-network-config-daemon/start.go
  pkg/daemon/writer.go
  pkg/utils/utils.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#223 Bug 1841042: [Release 4.4] Make the daemon more resilient to failures.
  pkg/daemon/daemon.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#211 Respect ENABLE_ADMISSION_CONTROLLER in OperatorConfig controller
  deploy/operator.yaml
  hack/env.sh
  manifests/4.5/sriov-network-operator.v4.5.0.clusterserviceversion.yaml
  pkg/controller/sriovoperatorconfig/sriovoperatorconfig_controller.go
Labels: lgtm

#219 Initialize administrative mac for vfs
  go.mod
  go.sum
  pkg/utils/utils.go
  vendor/github.com/vishvananda/netlink/.gitignore
  vendor/github.com/vishvananda/netlink/.travis.yml
  vendor/github.com/vishvananda/netlink/addr_linux.go
  vendor/github.com/vishvananda/netlink/bridge_linux.go
  vendor/github.com/vishvananda/netlink/class.go
  vendor/github.com/vishvananda/netlink/class_linux.go
  vendor/github.com/vishvananda/netlink/conntrack_linux.go
  vendor/github.com/vishvananda/netlink/devlink_linux.go
  vendor/github.com/vishvananda/netlink/filter.go
  vendor/github.com/vishvananda/netlink/filter_linux.go
  vendor/github.com/vishvananda/netlink/fou_linux.go
  vendor/github.com/vishvananda/netlink/genetlink_linux.go
  vendor/github.com/vishvananda/netlink/go.mod
  vendor/github.com/vishvananda/netlink/go.sum
  vendor/github.com/vishvananda/netlink/handle_linux.go
  vendor/github.com/vishvananda/netlink/handle_unspecified.go
  vendor/github.com/vishvananda/netlink/ioctl_linux.go
  vendor/github.com/vishvananda/netlink/link.go
  vendor/github.com/vishvananda/netlink/link_linux.go
  vendor/github.com/vishvananda/netlink/neigh.go
  vendor/github.com/vishvananda/netlink/neigh_linux.go
  vendor/github.com/vishvananda/netlink/netlink.go
  vendor/github.com/vishvananda/netlink/netlink_unspecified.go
  vendor/github.com/vishvananda/netlink/netns_linux.go
  vendor/github.com/vishvananda/netlink/netns_unspecified.go
  vendor/github.com/vishvananda/netlink/nl/bridge_linux.go
  vendor/github.com/vishvananda/netlink/nl/conntrack_linux.go
  vendor/github.com/vishvananda/netlink/nl/devlink_linux.go
  vendor/github.com/vishvananda/netlink/nl/link_linux.go
  vendor/github.com/vishvananda/netlink/nl/nl_linux.go
  vendor/github.com/vishvananda/netlink/nl/rdma_link_linux.go
  vendor/github.com/vishvananda/netlink/nl/route_linux.go
  vendor/github.com/vishvananda/netlink/nl/seg6_linux.go
  vendor/github.com/vishvananda/netlink/nl/seg6local_linux.go
  vendor/github.com/vishvananda/netlink/nl/syscall.go
  vendor/github.com/vishvananda/netlink/nl/tc_linux.go
  vendor/github.com/vishvananda/netlink/nl/xfrm_linux.go
  vendor/github.com/vishvananda/netlink/protinfo.go
  vendor/github.com/vishvananda/netlink/protinfo_linux.go
  vendor/github.com/vishvananda/netlink/qdisc.go
  vendor/github.com/vishvananda/netlink/qdisc_linux.go
  vendor/github.com/vishvananda/netlink/rdma_link_linux.go
  vendor/github.com/vishvananda/netlink/route.go
  vendor/github.com/vishvananda/netlink/route_linux.go
  vendor/github.com/vishvananda/netlink/rule_linux.go
  vendor/github.com/vishvananda/netlink/socket_linux.go
  vendor/github.com/vishvananda/netlink/xfrm_monitor_linux.go
  vendor/github.com/vishvananda/netlink/xfrm_policy.go
  vendor/github.com/vishvananda/netlink/xfrm_policy_linux.go
  vendor/github.com/vishvananda/netlink/xfrm_state.go
  vendor/github.com/vishvananda/netlink/xfrm_state_linux.go
  vendor/github.com/vishvananda/netns/go.mod
  vendor/github.com/vishvananda/netns/go.sum
  vendor/modules.txt
Labels: lgtm, ok-to-test

#197 add help message for resource name regexp
  pkg/webhook/validate.go
Labels: lgtm

#218 Bug 1833632: Endless reboot when config different num of vfs for mellanox dual port NICs
  pkg/plugins/mellanox/mellanox_plugin.go
Labels: bugzilla/severity-high, bugzilla/valid-bug, lgtm, ok-to-test

#226 fix Makefile rule operator-sdk
  Makefile
Labels: lgtm, ok-to-test

#230 Fix Makefile rule gencode
  Makefile
Labels: lgtm, ok-to-test

#217 update quick-start doc
  doc/quickstart.md
Labels: approved, lgtm

#220 Get more info about PFs and VFs
  pkg/utils/utils.go
Labels: approved, lgtm, ok-to-test

#235 Bump master to version 4.6
  manifests/4.6/image-references
  manifests/4.6/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.6/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.6/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.6/sriov-network-operator-sriovoperatorconfig.crd.yaml
  manifests/4.6/sriov-network-operator.v4.6.0.clusterserviceversion.yaml
  manifests/sriov-network-operator.package.yaml
  pkg/version/version.go
Labels: approved, lgtm

#237 Unbind/Bind VFs after assigning admin mac to set node_guid
  pkg/utils/utils.go
Labels: approved, lgtm, ok-to-test

#190 OCP-24714 - NAD default gateway is updated when SriovNetwork ipam is …
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm

#184 OCP-24713 - NAD is updated when SriovNetwork spec/networkNamespace is…
  test/conformance/tests/sriov_operator.go
  test/util/namespaces/namespaces.go
Labels: approved, lgtm

#245 Use upstream drain lib
  go.mod
  go.sum
  hack/build-plugins.sh
  pkg/daemon/daemon.go
  test/e2e/sriovoperatornodepolicy_test.go
  vendor/github.com/go-log/log/LICENSE
  vendor/github.com/go-log/log/README.md
  vendor/github.com/go-log/log/log.go
  vendor/github.com/openshift/kubernetes-drain/drain.go
  vendor/golang.org/x/net/html/atom/gen.go
  vendor/golang.org/x/sys/unix/mkasm_darwin.go
  vendor/golang.org/x/sys/unix/mkpost.go
  vendor/golang.org/x/sys/unix/mksyscall.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc64.go
  vendor/golang.org/x/sys/unix/mksyscall_solaris.go
  vendor/golang.org/x/sys/unix/mksysctl_openbsd.go
  vendor/golang.org/x/sys/unix/mksysnum.go
  vendor/golang.org/x/sys/unix/types_aix.go
  vendor/golang.org/x/sys/unix/types_darwin.go
  vendor/golang.org/x/sys/unix/types_dragonfly.go
  vendor/golang.org/x/sys/unix/types_freebsd.go
  vendor/golang.org/x/sys/unix/types_netbsd.go
  vendor/golang.org/x/sys/unix/types_openbsd.go
  vendor/golang.org/x/sys/unix/types_solaris.go
  vendor/golang.org/x/text/encoding/charmap/maketables.go
  vendor/golang.org/x/text/encoding/htmlindex/gen.go
  vendor/golang.org/x/text/encoding/internal/identifier/gen.go
  vendor/golang.org/x/text/encoding/japanese/maketables.go
  vendor/golang.org/x/text/encoding/korean/maketables.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/maketables.go
  vendor/golang.org/x/text/encoding/traditionalchinese/maketables.go
  vendor/golang.org/x/text/internal/language/compact/gen.go
  vendor/golang.org/x/text/internal/language/compact/gen_index.go
  vendor/golang.org/x/text/internal/language/compact/gen_parents.go
  vendor/golang.org/x/text/internal/language/gen.go
  vendor/golang.org/x/text/internal/language/gen_common.go
  vendor/golang.org/x/text/language/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen_ranges.go
  vendor/golang.org/x/text/unicode/bidi/gen_trieval.go
  vendor/golang.org/x/text/unicode/norm/maketables.go
  vendor/golang.org/x/text/unicode/norm/triegen.go
  vendor/golang.org/x/text/width/gen.go
  vendor/golang.org/x/text/width/gen_common.go
  vendor/golang.org/x/text/width/gen_trieval.go
  vendor/golang.org/x/tools/internal/imports/mkindex.go
  vendor/golang.org/x/tools/internal/imports/mkstdlib.go
  vendor/k8s.io/kubectl/LICENSE
  vendor/k8s.io/kubectl/pkg/drain/cordon.go
  vendor/k8s.io/kubectl/pkg/drain/default.go
  vendor/k8s.io/kubectl/pkg/drain/drain.go
  vendor/k8s.io/kubectl/pkg/drain/filters.go
  vendor/modules.txt
Labels: approved, lgtm

#201 Disable Resource Injector
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm

#246 Bug 1839754: Remove required feilds from SriovNetworkNodeState CRD
  deploy/crds/sriovnetwork.openshift.io_sriovnetworknodestates_crd.yaml
  manifests/4.6/sriov-network-operator-sriovnetworknodestate.crd.yaml
  pkg/apis/sriovnetwork/v1/sriovnetworknodestate_types.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#194 OCP-21364 - Create pod with both sriov-cni plugin and macvlan
  test/conformance/tests/sriov_operator.go
  test/util/cluster/cluster.go
  test/util/network/network.go
Labels: approved, lgtm

#241 validate isRdma config in operator webhook
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
Labels: approved, lgtm

#247 [release-4.5] Bug 1846239: Remove required feilds from SriovNetworkNodeState CRD
  deploy/crds/sriovnetwork.openshift.io_sriovnetworknodestates_crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetworknodestate.crd.yaml
  pkg/apis/sriovnetwork/v1/sriovnetworknodestate_types.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, group-lead-approved, lgtm

#73 Support change link type to ETH or IB
  deploy/crds/sriovnetwork.openshift.io_sriovnetworknodepolicies_crd.yaml
  deploy/crds/sriovnetwork.openshift.io_sriovnetworknodestates_crd.yaml
  deploy/crds/sriovnetwork.openshift.io_v1_sriovnetworknodepolicy_cr.yaml
  pkg/apis/sriovnetwork/v1/helper.go
  pkg/apis/sriovnetwork/v1/sriovnetworknodepolicy_types.go
  pkg/apis/sriovnetwork/v1/sriovnetworknodestate_types.go
  pkg/apis/sriovnetwork/v1/zz_generated.openapi.go
  pkg/plugins/mellanox/mellanox_plugin.go
  pkg/utils/utils.go
Labels: approved, lgtm, ok-to-test, size/XXL

#196 BUG 1825208: fix typo in manifests
  manifests/4.3/sriov-network-operator.v4.3.0.clusterserviceversion.yaml
  manifests/4.4/sriov-network-operator.v4.4.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#249 Fix the deadlock when applying config on more than 1 worker node
  pkg/daemon/daemon.go
  test/util/cluster/cluster.go
Labels: approved, lgtm

#251 Remove mistakenly imported juju/errors
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm

#252 must-gather: collect sriovibnetworks resource
  must-gather/collection-scripts/gather
Labels: approved, lgtm

#231 Share a SriovNetworkNodePolicy in selected tests
  test/conformance/tests/sriov_operator.go
  test/util/namespaces/namespaces.go
Labels: approved, lgtm

#233 Fix: Change mellanox total VFs to 0 when mellanox PF has 0 VFs
  pkg/plugins/mellanox/mellanox_plugin.go
Labels: approved, lgtm, ok-to-test

#254 Optimize sriov daemon test by removing policy configuration
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm

#255 CleanNetworks in tests should wait until all networks are deleted
  test/util/namespaces/namespaces.go
Labels: approved, lgtm

#248 [relese-4.4] Bug 1846241: Remove required feilds from SriovNetworkNodeState CRD
  deploy/crds/sriovnetwork.openshift.io_sriovnetworknodestates_crd.yaml
  manifests/4.4/sriov-network-operator-sriovnetworknodestate.crd.yaml
  pkg/apis/sriovnetwork/v1/sriovnetworknodestate_types.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#261 cleanup DaemonSet affinity when deleting plugin pods
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
Labels: approved, lgtm

#186 Test case Unhealthy VFs removed due to obsolescence in 4.4.
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm, needs-ok-to-test

#250 Add an optional label selector to limit the nodes impacted by the tests.
  test/conformance/tests/sriov_operator.go
  test/util/cluster/cluster.go
  test/util/nodes/nodes.go
Labels: approved, lgtm

#259 Fix sriov and macvlan test
  test/conformance/tests/sriov_operator.go
  test/util/cluster/cluster.go
Labels: approved, lgtm

#257 Move vfs assignments tests to sriov_operator.go
  test/conformance/tests/sriov_operator.go
  test/conformance/tests/vfs_assignement.go
Labels: approved, lgtm

#256 Export a clean.All function that removes all the leftovers from the conformance suite
  test/conformance/test_suite_test.go
  test/conformance/tests/init.go
  test/e2e/e2e_tests_suite_test.go
  test/util/clean/clean.go
  test/util/client/clients.go
  test/util/namespaces/namespaces.go
Labels: approved, lgtm

#260 Improve multi-node draining collision detection mechanism
  pkg/daemon/daemon.go
Labels: approved, lgtm

#266 Fix sriov for test to use new k8s client
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm

#267 Detect partition overlap regardless of rootDevices
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
Labels: approved, lgtm

#268 Added time range limit for GetLogs function. Fixed logs time pulling …
  test/util/cluster/cluster.go
  test/util/pod/pod.go
Labels: approved, lgtm, ok-to-test

#263 partition: merge PF configs
  pkg/apis/sriovnetwork/v1/helper.go
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
Labels: approved, lgtm

#243 Generate random node and port guid for IB VFs for un-initialized VFs
  pkg/utils/utils.go
Labels: approved, lgtm, ok-to-test
