Repository openshift/sriov-network-operator, pull requests merged in 2020-09, with the labels that each got.

#338 Bug 1875330: Reset sync error if local status generation is equal remote.
  pkg/daemon/daemon.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#328 Bug 1876822: Workaround for unexpected EOF during node state lookup
  test/conformance/tests/sriov_operator.go
  test/util/cluster/cluster.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#321 Support SR-IOV Network operator for Ubuntu
  Makefile
  bindata/scripts/enable-rdma.sh
Labels: approved, lgtm, ok-to-test

#337 Bug 1878588: Add image reference for sriov-operator-must-gather
  manifests/4.6/image-references
  manifests/4.6/sriov-network-operator.v4.6.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#344 Bug 1878565: merge device plugin configs that share the same resource name
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#345 Bug 1880990: Remove the log verification
  test/util/cluster/cluster.go
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, lgtm

#346 Bug 1880990: Fix macvlan test
  test/conformance/tests/sriov_operator.go
  test/util/cluster/cluster.go
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, lgtm

#351 Bug 1880990: Fix the pf down test
  test/conformance/tests/sriov_operator.go
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, lgtm

#353 Bug 1880990: Fix the MTU test
  test/conformance/test_suite_test.go
  test/conformance/tests/sriov_operator.go
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, lgtm

#355 Bug 1878677: Adding a check to verify if skopeo is installed, otherwise exit 1
  hack/env.sh
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#354 Bug 1879379: Use cli base image for must-gather image building
  must-gather/Dockerfile.rhel7
  must-gather/collection-scripts/gather
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#356 Bug 1880990: SR-IOV conformance flakes.
  test/conformance/tests/sriov_operator.go
  test/util/network/network.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#357 Bug 1880990: Fix PF shutdown test. On some nodes route link returns void.
  test/conformance/tests/sriov_operator.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#358 Bug 1880990: Fix syntax error in conformance test.
  test/conformance/tests/sriov_operator.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#359 Bug 1882959: fix lint issues in sriov operator 4.6 manifests
  manifests/4.6/sriov-network-operator.v4.6.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#360 Bug 1880990: Skip vf allocation in case of discovery mode.
  test/conformance/tests/sriov_operator.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#361 Bug 1880990: Move the skip inside an It context
  test/conformance/tests/sriov_operator.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm
