Repository openshift/sriov-network-operator, pull requests merged in 2020-10, with the labels that each got.

#363 Bug 1878163: Updating sriov-network-must-gather builder & base images to be consistent with ART
  must-gather/Dockerfile.rhel7
Labels: bugzilla/severity-high, bugzilla/valid-bug

#362 Bug 1878163: Updating sriov-network-operator builder & base images to be consistent with ART
  Dockerfile.rhel7
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#364 Bug 1884251: Conformance test: make sure that the hostnetwork pod and the test pod run on the same node.
  test/conformance/tests/sriov_operator.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#324 Add N3000 network device IDs and annotations
  pkg/apis/sriovnetwork/v1/helper.go
Labels: approved, lgtm

#341 Add webhook delete operation
  bindata/manifests/operator-webhook/003-webhook.yaml
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
  pkg/webhook/webhook.go
Labels: approved, lgtm

#368 Updating sriov-network-config-daemon builder & base images to be consistent with ART
  Dockerfile.sriov-network-config-daemon.rhel7
Labels: approved, lgtm

#365 Updating sriov-network-operator builder & base images to be consistent with ART
  Dockerfile.rhel7
Labels: approved, lgtm

#366 Updating sriov-network-webhook builder & base images to be consistent with ART
  Dockerfile.webhook.rhel7
Labels: approved, lgtm

#367 Updating sriov-network-must-gather builder & base images to be consistent with ART
  must-gather/Dockerfile.rhel7
Labels: approved, lgtm

#375 Bug 1879379: Use cli base image for must-gather image building
  must-gather/Dockerfile.rhel7
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#376 Bug 1890088: Conformance tests: Wait for the resources to be ready.
  test/conformance/tests/sriov_operator.go
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, lgtm

#373 Create manifests for 4.7
  hack/env.sh
  manifests/4.3/image-references
  manifests/4.3/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.3/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.3/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.3/sriov-network-operator-sriovoperatorconfig.crd.yaml
  manifests/4.3/sriov-network-operator.v4.3.0.clusterserviceversion.yaml
  manifests/4.4/image-references
  manifests/4.4/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.4/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.4/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.4/sriov-network-operator-sriovoperatorconfig.crd.yaml
  manifests/4.4/sriov-network-operator.v4.4.0.clusterserviceversion.yaml
  manifests/4.5/image-references
  manifests/4.5/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.5/sriov-network-operator-sriovoperatorconfig.crd.yaml
  manifests/4.6/sriov-network-operator.v4.6.0.clusterserviceversion.yaml
  manifests/4.7/image-references
  manifests/4.7/sriov-network-operator-sriovibnetworks_crd.yaml
  manifests/4.7/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.7/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.7/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.7/sriov-network-operator-sriovoperatorconfig.crd.yaml
  manifests/4.7/sriov-network-operator.v4.7.0.clusterserviceversion.yaml
  manifests/sriov-network-operator.package.yaml
  pkg/version/version.go
Labels: approved, lgtm

#370 Bug 1877648: Support generating device plugin configmap with rootDevice selector
  controllers/sriovnetworknodepolicy_controller.go
  go.mod
  go.sum
  vendor/github.com/intel/sriov-network-device-plugin/pkg/types/types.go
  vendor/modules.txt
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#374 Bug 1888763: webhook: validate rootDevices in network policy
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#377 Bug 1890939: Enable sriov webhook to access replica rbac resources
  bindata/manifests/webhook/002-rbac.yaml
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#386 Not using -mod=vendor for kustomize and controller-gen target
  Makefile
Labels: approved, lgtm

#385 sync dev branch 2020-10-30
  Makefile
  bindata/scripts/enable-rdma.sh
Labels: approved, lgtm
