Repository openshift/sriov-network-operator, pull requests merged in 2020-11, with the labels that each got.

#387 Add GoLand IDE files to .gitignore
  .gitignore
Labels: approved, lgtm

#390 Bug 1890984: Rename operator-webhook-config to sriov-operator-webhook-config
  controllers/helper.go
  controllers/sriovoperatorconfig_controller.go
  controllers/sriovoperatorconfig_controller_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#389 Bump CRD version to v1
  Makefile
  config/crd/bases/sriovnetwork.openshift.io_sriovibnetworks.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworks.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovoperatorconfigs.yaml
  manifests/4.7/sriov-network-operator-sriovibnetworks_crd.yaml
  manifests/4.7/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.7/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.7/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.7/sriov-network-operator-sriovoperatorconfig.crd.yaml
Labels: approved, lgtm

#382 Reflect updated Makefile in Quickstart doc
  doc/quickstart.md
Labels: approved, lgtm

#388 Add DisableDrain flag into operator config for efficient debugging
  api/v1/sriovoperatorconfig_types.go
  config/crd/bases/sriovnetwork.openshift.io_sriovoperatorconfigs.yaml
  pkg/daemon/daemon.go
Labels: approved, lgtm

#396 Add an option to skip variable setting in hack/env.sh
  hack/env.sh
Labels: approved, lgtm, ok-to-test

#378 Add an optional SriovNetwork section: additional metaplugins
  README.md
  api/v1/helper.go
  api/v1/helper_test.go
  api/v1/sriovnetwork_types.go
  api/v1/testdata/TestRendering/chained.golden
  api/v1/testdata/TestRendering/simple.golden
  bindata/manifests/cni-config/sriov-cni-config.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworks.yaml
  manifests/4.7/sriov-network-operator-sriovnetwork.crd.yaml
  test/conformance/tests/sriov_operator.go
  test/util/network/network.go
Labels: approved, lgtm

#391 Bug 1892167: Use node specific data for device plugin config
  bindata/manifests/plugins/sriov-device-plugin.yaml
  controllers/sriovnetworknodepolicy_controller.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#398 Bug 1895268: Fix CRD files in operator bundle
  manifests/4.7/sriov-network-operator-sriovibnetworks_crd.yaml
  manifests/4.7/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.7/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.7/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.7/sriov-network-operator-sriovoperatorconfig.crd.yaml
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#402 add support for Intel NIC X710 10G SFP+
  api/v1/helper.go
  api/v1/sriovnetworknodepolicy_types.go
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  manifests/4.7/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
Labels: approved, lgtm

#403 Use the right object when webhook delete operation
  bindata/manifests/operator-webhook/003-webhook.yaml
  pkg/webhook/webhook.go
Labels: approved, lgtm

#405 Deploy AdmissionController when ENABLE_ADMISSION_CONTROLLER is true
  controllers/sriovoperatorconfig_controller.go
  main.go
Labels: approved, lgtm, ok-to-test

#379 Add flag to enable SwitchDev mode in SriovNetworkNodePolicy CRD
  api/v1/helper.go
  api/v1/sriovnetworknodepolicy_types.go
  api/v1/sriovnetworknodestate_types.go
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  go.mod
  go.sum
  manifests/4.7/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.7/sriov-network-operator-sriovnetworknodestate.crd.yaml
  pkg/utils/utils.go
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/google.golang.org/appengine/.travis.yml
  vendor/google.golang.org/appengine/internal/api.go
  vendor/google.golang.org/genproto/googleapis/rpc/status/status.pb.go
  vendor/google.golang.org/grpc/README.md
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/credentials/tls.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/go.mod
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/status/status.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/stats/stats.go
  vendor/google.golang.org/grpc/status/status.go
  vendor/google.golang.org/grpc/version.go
  vendor/google.golang.org/grpc/vet.sh
  vendor/modules.txt
Labels: approved, lgtm

#410 Fix failure deploying operator on Ubuntu
  Makefile
Labels: approved, lgtm, ok-to-test

#407 Bug 1897412: update sriovoperatorconfig crd in 4.7 manifests
  manifests/4.7/sriov-network-operator-sriovoperatorconfig.crd.yaml
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#408 Don't update the daemonsets / the network status if there are no changes
  controllers/sriovnetworknodepolicy_controller.go
Labels: approved, lgtm

#411 Bug 1898580: fix the sriov daemon selector assignement.
  controllers/sriovnetworknodepolicy_controller.go
  controllers/sriovnetworknodepolicy_controller_test.go
  go.mod
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#415 Work around udev race condition related to NM_UNMANAGED=1
  pkg/daemon/daemon.go
Labels: approved, lgtm, ok-to-test

#369 Add support for running in a virtual machine -- Remove PF dependency
  Makefile
  README.md
  cmd/sriov-network-config-daemon/start.go
  pkg/daemon/daemon.go
  pkg/daemon/plugin.go
  pkg/daemon/writer.go
  pkg/plugins/virtual/virtual_plugin.go
  pkg/utils/utils.go
  pkg/utils/utils_virtual.go
Labels: approved, lgtm

#419 Tests: ignore get errors when checking for sriov stable
  test/conformance/tests/sriov_operator.go
  test/util/cluster/cluster.go
Labels: approved, lgtm

#422 Bug 1901909: do not set the node selector in the dp / cni daemons if empty in config.
  controllers/sriovoperatorconfig_controller.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm
