Repository openshift/sriov-network-operator, pull requests merged in 2020-07, with the labels that each got.

#269 Reset different MTU sizes per link type
  pkg/utils/utils.go
Labels: approved, lgtm

#265 Set default values for non-required policy fields
  pkg/webhook/mutate.go
Labels: approved, lgtm

#262 Not exit config daemon when sync failed
  cmd/sriov-network-config-daemon/start.go
  go.mod
  go.sum
  hack/run-test.sh
  hack/undeploy.sh
  pkg/daemon/daemon.go
  pkg/daemon/writer.go
  pkg/plugins/generic/generic_plugin.go
  test/e2e/sriovoperatornodepolicy_test.go
Labels: approved, lgtm

#275 Add discovery mode for sriov tests with shared policy
  test/conformance/tests/sriov_operator.go
  test/util/cluster/cluster.go
  test/util/discovery/discovery.go
Labels: approved, lgtm

#279 Bug 1850505: Make the webhook error message more accurate
  pkg/webhook/validate.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#272 add clientsets for sriovnetwork and sriovnetworknodepolicy
  pkg/apis/sriovnetwork/v1/sriovnetwork_types.go
  pkg/apis/sriovnetwork/v1/sriovnetworknodepolicy_types.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/fake/fake_sriovnetwork.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/fake/fake_sriovnetwork_client.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/fake/fake_sriovnetworknodepolicy.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/generated_expansion.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/sriovnetwork.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/sriovnetwork_client.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/sriovnetworknodepolicy.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/sriovnetwork/v1/interface.go
  pkg/client/informers/externalversions/sriovnetwork/v1/sriovnetwork.go
  pkg/client/informers/externalversions/sriovnetwork/v1/sriovnetworknodepolicy.go
  pkg/client/listers/sriovnetwork/v1/expansion_generated.go
  pkg/client/listers/sriovnetwork/v1/sriovnetwork.go
  pkg/client/listers/sriovnetwork/v1/sriovnetworknodepolicy.go
Labels: approved, lgtm

#276 Webhook respect unapplied policy
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
Labels: approved, lgtm

#285 Don't set default mtu in operator webhook if not specified
  pkg/webhook/mutate.go
Labels: approved, lgtm

#284 Unlimit max mtu size
  deploy/crds/sriovnetwork.openshift.io_sriovnetworknodepolicies_crd.yaml
  manifests/4.3/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.4/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.6/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  pkg/apis/sriovnetwork/v1/sriovnetworknodepolicy_types.go
Labels: approved, lgtm

#282 Discovery mode for PF shutdown test
  test/conformance/tests/sriov_operator.go
  test/util/discovery/discovery.go
Labels: approved, lgtm

#288 Revert changes to FindOneSriovDevice
  test/util/cluster/cluster.go
Labels: approved, lgtm

#290 Discovery mode - fix nil pointer dereference
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm

#286 BUG 1854775: Improve the MTU set/reset logic
  cmd/sriov-network-config-daemon/start.go
  pkg/daemon/writer.go
  pkg/utils/utils.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#287 Add prerequisite about supported NIC model
  doc/quickstart.md
Labels: approved, lgtm, ok-to-test

#280 Fix flaky tests
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm

#296 Move the resource injector test to shared policy tests
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm

#298 Discovery mode: skip tests unsuitable for discovery mode
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm

#283 generic plugin: drain node when mtu changes
  pkg/plugins/generic/generic_plugin.go
Labels: approved, lgtm

#297 Discovery mode for mtu tests
  test/conformance/tests/sriov_operator.go
  test/util/clean/clean.go
  test/util/cluster/cluster.go
  test/util/namespaces/namespaces.go
Labels: approved, lgtm

#206 Added new test Webhook resource injector
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm, ok-to-test

#291 BUG 1855492: Unlimit max mtu size
  deploy/crds/sriovnetwork.openshift.io_sriovnetworknodepolicies_crd.yaml
  manifests/4.3/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.4/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.5/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  pkg/apis/sriovnetwork/v1/sriovnetworknodepolicy_types.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#301 bug 1857507: Tolerates all taints in device plugin DaemonSet
  bindata/manifests/plugins/sriov-device-plugin.yaml
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#278 [release-4.5]Bug 1852648: Solve issue of nodes being drained simultaneously
  go.mod
  go.sum
  hack/build-plugins.sh
  pkg/daemon/daemon.go
  test/e2e/sriovoperatornodepolicy_test.go
  test/util/cluster/cluster.go
  vendor/github.com/go-log/log/LICENSE
  vendor/github.com/go-log/log/README.md
  vendor/github.com/go-log/log/log.go
  vendor/github.com/openshift/kubernetes-drain/drain.go
  vendor/golang.org/x/net/html/atom/gen.go
  vendor/golang.org/x/sys/unix/mkasm_darwin.go
  vendor/golang.org/x/sys/unix/mkpost.go
  vendor/golang.org/x/sys/unix/mksyscall.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc64.go
  vendor/golang.org/x/sys/unix/mksyscall_solaris.go
  vendor/golang.org/x/sys/unix/mksysctl_openbsd.go
  vendor/golang.org/x/sys/unix/mksysnum.go
  vendor/golang.org/x/sys/unix/types_aix.go
  vendor/golang.org/x/sys/unix/types_darwin.go
  vendor/golang.org/x/sys/unix/types_dragonfly.go
  vendor/golang.org/x/sys/unix/types_freebsd.go
  vendor/golang.org/x/sys/unix/types_netbsd.go
  vendor/golang.org/x/sys/unix/types_openbsd.go
  vendor/golang.org/x/sys/unix/types_solaris.go
  vendor/golang.org/x/text/encoding/charmap/maketables.go
  vendor/golang.org/x/text/encoding/htmlindex/gen.go
  vendor/golang.org/x/text/encoding/internal/identifier/gen.go
  vendor/golang.org/x/text/encoding/japanese/maketables.go
  vendor/golang.org/x/text/encoding/korean/maketables.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/maketables.go
  vendor/golang.org/x/text/encoding/traditionalchinese/maketables.go
  vendor/golang.org/x/text/internal/language/compact/gen.go
  vendor/golang.org/x/text/internal/language/compact/gen_index.go
  vendor/golang.org/x/text/internal/language/compact/gen_parents.go
  vendor/golang.org/x/text/internal/language/gen.go
  vendor/golang.org/x/text/internal/language/gen_common.go
  vendor/golang.org/x/text/language/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen_ranges.go
  vendor/golang.org/x/text/unicode/bidi/gen_trieval.go
  vendor/golang.org/x/text/unicode/norm/maketables.go
  vendor/golang.org/x/text/unicode/norm/triegen.go
  vendor/golang.org/x/text/width/gen.go
  vendor/golang.org/x/text/width/gen_common.go
  vendor/golang.org/x/text/width/gen_trieval.go
  vendor/golang.org/x/tools/internal/imports/mkindex.go
  vendor/golang.org/x/tools/internal/imports/mkstdlib.go
  vendor/k8s.io/kubectl/LICENSE
  vendor/k8s.io/kubectl/pkg/drain/cordon.go
  vendor/k8s.io/kubectl/pkg/drain/default.go
  vendor/k8s.io/kubectl/pkg/drain/drain.go
  vendor/k8s.io/kubectl/pkg/drain/filters.go
  vendor/modules.txt
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#292 BUG 1855496: Unlimit max mtu size
  deploy/crds/sriovnetwork.openshift.io_sriovnetworknodepolicies_crd.yaml
  manifests/4.3/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.4/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  pkg/apis/sriovnetwork/v1/sriovnetworknodepolicy_types.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#304 Remove ENABLE_ADMISSION_CONTROLLER in 4.5 manifests
  manifests/4.5/sriov-network-operator.v4.5.0.clusterserviceversion.yaml
Labels: approved, lgtm

#270 Fix hack/update-codegen.sh
  hack/boilerplate.go.txt
  hack/update-codegen.sh
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/doc.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/doc.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/doc.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/doc.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/fake/doc.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/fake/fake_sriovnetwork_client.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/fake/fake_sriovnetworknodestate.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/fake/fake_sriovoperatorconfig.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/generated_expansion.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/sriovnetwork_client.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/sriovnetworknodestate.go
  pkg/client/clientset/versioned/typed/sriovnetwork/v1/sriovoperatorconfig.go
  pkg/client/informers/externalversions/factory.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/client/informers/externalversions/sriovnetwork/interface.go
  pkg/client/informers/externalversions/sriovnetwork/v1/interface.go
  pkg/client/informers/externalversions/sriovnetwork/v1/sriovnetworknodestate.go
  pkg/client/informers/externalversions/sriovnetwork/v1/sriovoperatorconfig.go
  pkg/client/listers/sriovnetwork/v1/expansion_generated.go
  pkg/client/listers/sriovnetwork/v1/sriovnetworknodestate.go
  pkg/client/listers/sriovnetwork/v1/sriovoperatorconfig.go
Labels: approved, lgtm

#228 install sriov-infiniband-cni along with sriov-cni
  bindata/manifests/plugins/sriov-cni.yaml
  deploy/operator.yaml
  hack/env.sh
  hack/run-e2e-test.sh
  manifests/4.6/image-references
  manifests/4.6/sriov-network-operator.v4.6.0.clusterserviceversion.yaml
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
Labels: approved, lgtm

#307 Remove a deplicate test
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm

#306 Add a nic test validation
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm

#293 [release-4.5] BUG 1854778: Improve the MTU set/reset logic
  cmd/sriov-network-config-daemon/start.go
  pkg/daemon/writer.go
  pkg/utils/utils.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#295 Add note about disabling webhook for unsupported NICs
  doc/quickstart.md
Labels: approved, lgtm, ok-to-test

#273 webhook: set isRdma to true for InfiniBand link type
  pkg/webhook/mutate.go
  pkg/webhook/validate.go
  pkg/webhook/webhook.go
Labels: approved, lgtm

#294 [release-4.4] BUG 1854779: Improve the MTU set/reset logic
  cmd/sriov-network-config-daemon/start.go
  pkg/daemon/writer.go
  pkg/utils/utils.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#308 Bug 1857440: fix the device plugin restart condition
  pkg/daemon/daemon.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#312 Deploy sriov-infiniband-cni in separate container
  bindata/manifests/plugins/sriov-cni.yaml
Labels: approved, lgtm

#313 Watch the node state CR by controller
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
Labels: approved, lgtm

#281 unify NIC mapping source for operator, webhook and config daemon
  pkg/apis/sriovnetwork/v1/helper.go
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
  pkg/plugins/mellanox/mellanox_plugin.go
  pkg/webhook/validate.go
Labels: approved, lgtm

#314 BUG 1853785: Retry for VF link to become ready
  pkg/utils/utils.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#316 Update the log seach for tests
  test/util/cluster/cluster.go
Labels: approved, lgtm

#317 Set logLevel to 2 when recreating default SriovOperatorConfig
  pkg/controller/sriovoperatorconfig/sriovoperatorconfig_controller.go
Labels: approved, lgtm

#320 Fix nil pointer exception in MTU connectivity test.
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm

#315 Add Mellanox CX-4 and CX-6 ib NIC to supported nic list
  pkg/apis/sriovnetwork/v1/helper.go
Labels: approved, lgtm
