Repository openshift/sriov-network-operator, pull requests merged in 2021-03, with the labels that each got.

#483 Use the function in the api to validate if a device is supported
  test/util/cluster/cluster.go
Labels: approved, lgtm, ok-to-test

#484 Sync upstream 2021-3-15
  .github/workflows/image-push-master.yml
  .github/workflows/image-push-release.yml
  api/v1/helper.go
  api/v1/sriovnetworknodestate_types.go
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  doc/quickstart.md
  pkg/utils/utils.go
  test/conformance/tests/sriov_operator.go
  test/util/cluster/cluster.go
  test/util/network/network.go
Labels: approved, lgtm

#485 Bug 1926279: Sync OLM bundle manifests
  manifests/4.8/sriov-network-operator-sriovibnetworks_crd.yaml
  manifests/4.8/sriov-network-operator-sriovnetworknodestate.crd.yaml
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm
