Repository openshift/sriov-network-operator, pull requests merged in 2021-06, with the labels that each got.

#512 Bug 1966620: Add an openshift specific bundle to use for CI
  bundleci.Dockerfile
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#511 Bug 1966561: add OLM bug workaround for workload partitioning
  manifests/4.8/sriov-network-operator.v4.8.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, lgtm

#506 [Release-4.6] Bug 1960263: Pause MCP before draining/rebooting node
  cmd/sriov-network-config-daemon/start.go
  deploy/clusterrole.yaml
  go.sum
  manifests/4.6/sriov-network-operator.v4.6.0.clusterserviceversion.yaml
  pkg/daemon/daemon.go
  pkg/plugins/generic/generic_plugin.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/clientset/versioned/clientset.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/clientset/versioned/doc.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/informers/externalversions/factory.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/informers/externalversions/generic.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/informers/externalversions/internalinterfaces/factory_interfaces.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/informers/externalversions/machineconfiguration.openshift.io/interface.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/informers/externalversions/machineconfiguration.openshift.io/v1/containerruntimeconfig.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/informers/externalversions/machineconfiguration.openshift.io/v1/controllerconfig.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/informers/externalversions/machineconfiguration.openshift.io/v1/interface.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/informers/externalversions/machineconfiguration.openshift.io/v1/kubeletconfig.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/informers/externalversions/machineconfiguration.openshift.io/v1/machineconfig.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/informers/externalversions/machineconfiguration.openshift.io/v1/machineconfigpool.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/listers/machineconfiguration.openshift.io/v1/containerruntimeconfig.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/listers/machineconfiguration.openshift.io/v1/controllerconfig.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/listers/machineconfiguration.openshift.io/v1/expansion_generated.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/listers/machineconfiguration.openshift.io/v1/kubeletconfig.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/listers/machineconfiguration.openshift.io/v1/machineconfig.go
  vendor/github.com/openshift/machine-config-operator/pkg/generated/listers/machineconfiguration.openshift.io/v1/machineconfigpool.go
  vendor/modules.txt
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#501 Bug 1958468: Fix index out of range panic when ifaceName is empty
  pkg/utils/utils.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#516 Exclude non yamls from bundleci.Dockerfile
  bundleci.Dockerfile
Labels: approved, lgtm

#521 [release-4.7] Bug 1960103: Find the MCP based on the owner of node's desired MC
  pkg/daemon/daemon.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#524 Bug 1958107: Run SR-IOV pods in burstable QoS
  bindata/manifests/daemon/daemonset.yaml
  bindata/manifests/operator-webhook/server.yaml
  bindata/manifests/plugins/sriov-cni.yaml
  bindata/manifests/plugins/sriov-device-plugin.yaml
  bindata/manifests/webhook/server.yaml
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#523 Bug 1960574: Add priority class to SR-IOV daemonsets
  bindata/manifests/daemon/daemonset.yaml
  bindata/manifests/operator-webhook/server.yaml
  bindata/manifests/plugins/sriov-cni.yaml
  bindata/manifests/plugins/sriov-device-plugin.yaml
  bindata/manifests/webhook/server.yaml
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#525 Bug 1957761: Set update-strategy maxUnavailable for sriov daemonsets and deployments
  bindata/manifests/daemon/daemonset.yaml
  bindata/manifests/operator-webhook/server.yaml
  bindata/manifests/plugins/sriov-cni.yaml
  bindata/manifests/plugins/sriov-device-plugin.yaml
  bindata/manifests/webhook/server.yaml
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#517 release-4.9-olm-manifests
  bundleci.Dockerfile
  manifests/4.9/image-references
  manifests/4.9/sriov-network-operator-sriovibnetworks_crd.yaml
  manifests/4.9/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.9/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.9/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.9/sriov-network-operator-sriovoperatorconfig.crd.yaml
  manifests/4.9/sriov-network-operator.v4.9.0.clusterserviceversion.yaml
  manifests/sriov-network-operator.package.yaml
  must-gather/Dockerfile.rhel7
Labels: approved, lgtm

#527 Bug 1975216: Fix sriov functional tests for secure boot env
  test/util/cluster/cluster.go
  test/util/pod/pod.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#522 [Release-4.6] Bug 1960263: Find the MCP based on the owner of node's desired MC
  pkg/daemon/daemon.go
  vendor/github.com/openshift/machine-config-operator/pkg/daemon/constants/constants.go
  vendor/modules.txt
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#530 Add more device IDs in whitelist configMap
  manifests/4.9/sriov-network-operator_configmap.yaml
Labels: approved, lgtm
