Repository openshift/sriov-network-operator, pull requests merged in 2021-11, with the labels that each got.

#579 Update OWNERS file
  OWNERS
Labels: approved, lgtm

#580 Sync upstream: 2021-11-5
  Makefile
  api/v1/helper.go
  cmd/sriov-network-config-daemon/start.go
  pkg/utils/utils_virtual.go
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
  test/util/cluster/cluster.go
Labels: approved, lgtm

#563 Bug 2002508: Don't check MCP state when node in Draining_MCP_Paused state
  pkg/daemon/daemon.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#587 4.10 sync upstream: 2021-11-25
  Makefile
  pkg/utils/utils.go
  pkg/webhook/mutate.go
Labels: approved, lgtm

#586 Bug 2026550: Add missing requirements
  go.mod
  go.sum
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#588 Add Nvidia device ID 15b3/101f/101e
  manifests/4.10/supported-nic-ids_v1_configmap.yaml
Labels: approved, lgtm

#591 Bug 2026814: add Nvidia device ID 15b3/101f/101e
  manifests/4.9/supported-nic-ids_v1_configmap.yaml
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#592 Sync 28 11 21
  bindata/scripts/load-kmod.sh
  pkg/daemon/daemon.go
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm

#573 Bug 2016397: Webhook failurePolicy reset backport (4.9)
  api/v1/helper.go
  controllers/helper.go
  controllers/sriovibnetwork_controller.go
  controllers/sriovnetwork_controller.go
  controllers/sriovnetworknodepolicy_controller.go
  controllers/sriovnetworkpoolconfig_controller.go
  controllers/sriovnetworkpoolconfig_controller_test.go
  controllers/sriovoperatorconfig_controller.go
  controllers/suite_test.go
  main.go
  pkg/utils/constants.go
  pkg/utils/shutdown.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed
