Repository openshift/sriov-network-operator, pull requests merged in 2021-04, with the labels that each got.

#488 Merge 5327d3b, 3a8d396
  test/conformance/tests/sriov_operator.go
  test/util/clean/clean.go
  test/util/cluster/cluster.go
Labels: approved, lgtm

#489 Sync upstream 2021-4-8
  bindata/manifests/webhook/server.yaml
Labels: approved, lgtm

#491 Bug 1949202: Add metadata for ppc64le
  manifests/4.8/sriov-network-operator.v4.8.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#494 Bug 1921321: Sync upstream: 2021-4-15
  Makefile
  bindata/manifests/webhook/002-rbac.yaml
  bindata/manifests/webhook/server.yaml
  hack/build-go.sh
  hack/env.sh
  pkg/daemon/daemon.go
  test/e2e/e2e_tests_suite_test.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#490 Add management workload annotations
  bindata/manifests/daemon/daemonset.yaml
  bindata/manifests/operator-webhook/server.yaml
  bindata/manifests/plugins/sriov-cni.yaml
  bindata/manifests/plugins/sriov-device-plugin.yaml
  bindata/manifests/webhook/server.yaml
  manifests/4.8/sriov-network-operator.v4.8.0.clusterserviceversion.yaml
Labels: approved, bugzilla/valid-bug, lgtm

#495 Rename workload annotations
  bindata/manifests/daemon/daemonset.yaml
  bindata/manifests/operator-webhook/server.yaml
  bindata/manifests/plugins/sriov-cni.yaml
  bindata/manifests/plugins/sriov-device-plugin.yaml
  bindata/manifests/webhook/server.yaml
  manifests/4.8/sriov-network-operator.v4.8.0.clusterserviceversion.yaml
Labels: approved, bugzilla/valid-bug, lgtm

#497 Bug 1955120: Move RestoreNodeDrainState up in clean.All()
  test/util/clean/clean.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm, ok-to-test

#496 Bug 1951864: Add Intel XXV710 NIC model (1572)
  pkg/apis/sriovnetwork/v1/helper.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm
