Repository openshift/sriov-network-operator, pull requests merged in 2021-02, with the labels that each got.

#477 [ART-2567] Prepare bundle for OCP 4.8
  manifests/4.8/image-references
  manifests/4.8/sriov-network-operator-sriovibnetworks_crd.yaml
  manifests/4.8/sriov-network-operator-sriovnetwork.crd.yaml
  manifests/4.8/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  manifests/4.8/sriov-network-operator-sriovnetworknodestate.crd.yaml
  manifests/4.8/sriov-network-operator-sriovoperatorconfig.crd.yaml
  manifests/4.8/sriov-network-operator.v4.8.0.clusterserviceversion.yaml
  manifests/sriov-network-operator.package.yaml
Labels: approved, lgtm

#475 Bug 1879379: Change must-gather/Dockerfile.rhel7 to use must-gather image
  must-gather/Dockerfile.rhel7
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm, ok-to-test

#474 [release-4.7] Bug 1930469: Only add linkType selector for infiniband devices
  controllers/sriovnetworknodepolicy_controller.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm
