Repository openshift/sriov-network-operator, pull requests merged in 2021-07, with the labels that each got.

#531 [Release-4.8] Bug 1977540: Update Webhook Configuration objects when Reconciling
  bindata/manifests/operator-webhook/003-webhook.yaml
  bindata/manifests/webhook/003-webhook.yaml
  controllers/sriovoperatorconfig_controller.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, group-lead-approved, lgtm

#536 Bug 1978435: Add labels to indicate availability of this operator for ppc64le
  manifests/4.9/sriov-network-operator.v4.9.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#538 Bug 1978437: Add labels to indicate availability of this operator for ppc64le
  manifests/4.8/sriov-network-operator.v4.8.0.clusterserviceversion.yaml
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, group-lead-approved, lgtm

#540 Remove device IDs that are not fully verified in FDP
  manifests/4.9/sriov-network-operator_configmap.yaml
Labels: approved, lgtm

#543 Bump operator version to v4.9.0
  Makefile
  pkg/version/version.go
Labels: approved, lgtm

#545 Sync upstream: 2021-7-22
  Makefile
  bindata/manifests/switchdev-config/files/configure-switchdev.sh.yaml
  bindata/manifests/webhook/004-configmap.yaml
  bindata/manifests/webhook/server.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovibnetworks.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworkpoolconfigs.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworks.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovoperatorconfigs.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovibnetworks.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworkpoolconfigs.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworks.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovoperatorconfigs.yaml
  manifests/4.9/sriovnetwork.openshift.io_sriovibnetworks.yaml
  manifests/4.9/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  manifests/4.9/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  manifests/4.9/sriovnetwork.openshift.io_sriovnetworkpoolconfigs.yaml
  manifests/4.9/sriovnetwork.openshift.io_sriovnetworks.yaml
  manifests/4.9/sriovnetwork.openshift.io_sriovoperatorconfigs.yaml
  pkg/utils/switchdev.go
  test/util/crds/k8s.cni.cncf.io_networkattachmentdefinitions_crd.yaml
  test/util/crds/machineconfiguration.openshift.io_machineconfigpools_crd.yaml
  test/util/crds/machineconfiguration.openshift.io_machineconfigs_crd.yaml
Labels: approved, lgtm

#546 Bug 1958278: Enable E810 device IDs
  pkg/apis/sriovnetwork/v1/helper.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm
