Repository openshift/sriov-network-operator, pull requests merged in 2021-05, with the labels that each got.

#499 Bug 1955874: Sync upstream: 2021-05-08
  Makefile
  api/v1/helper.go
  bindata/manifests/operator-webhook/001-service.yaml
  bindata/manifests/operator-webhook/003-webhook.yaml
  bindata/manifests/webhook/001-service.yaml
  bindata/manifests/webhook/003-webhook.yaml
  cmd/webhook/start.go
  config/default/webhookcainjection_patch.yaml
  controllers/sriovoperatorconfig_controller.go
  controllers/sriovoperatorconfig_controller_test.go
  deploy/operator.yaml
  doc/quickstart.md
  hack/env.sh
  pkg/utils/utils.go
  pkg/webhook/mutate.go
  pkg/webhook/scheme.go
  pkg/webhook/validate.go
  pkg/webhook/webhook.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#502 Bug 1958643: Fix network injector webhook
  bindata/manifests/webhook/003-webhook.yaml
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#507 Bug 1961854: Sync 18 05 21
  pkg/plugins/mellanox/mellanox_plugin.go
  pkg/utils/utils.go
  test/conformance/tests/sriov_operator.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#504 [release-4.7] Bug 1960103: Pause MCP before draining/rebooting node
  Makefile
  cmd/sriov-network-config-daemon/start.go
  deploy/clusterrole.yaml
  manifests/4.7/sriov-network-operator.v4.7.0.clusterserviceversion.yaml
  pkg/daemon/daemon.go
  pkg/plugins/generic/generic_plugin.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#509 Bug 1964847: Sync 26-05-21 - add validation test suite
  Makefile
  PROJECT
  deployment/sriov-network-operator/templates/clusterrole.yaml
  deployment/sriov-network-operator/templates/clusterrolebinding.yaml
  hack/deploy-wait.sh
  hack/run-e2e-conformance.sh
  hack/undeploy.sh
  test/conformance/tests/sriov_operator.go
  test/util/client/clients.go
  test/validation/test_suite_test.go
  test/validation/tests/validation.go
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#510 Bug 1961854: Fix kernel lockdown checking in chroot
  pkg/plugins/mellanox/mellanox_plugin.go
  pkg/utils/utils.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm
