Repository openshift/sriov-network-operator, pull requests merged in 2021-01, with the labels that each got.

#454 Bug 1908570: Sync upstream 2021-01-05
  .github/labeler.yml
  .github/workflows/go.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-update.yml
  .github/workflows/prow.yml
  bindata/manifests/daemon/daemonset.yaml
  bindata/manifests/machine-config/files/configure-switchdev.sh.yaml
  bindata/manifests/machine-config/ovs-units/ovs-vswitchd.service.yaml
  bindata/manifests/operator-webhook/003-webhook.yaml
  bindata/manifests/operator-webhook/004-configmap.yaml
  bindata/manifests/webhook/003-webhook.yaml
  bindata/manifests/webhook/004-configmap.yaml
  cmd/sriov-network-config-daemon/start.go
  controllers/helper.go
  controllers/sriovnetworknodepolicy_controller.go
  controllers/sriovoperatorconfig_controller.go
  pkg/daemon/daemon.go
  test/conformance/tests/sriov_operator.go
  test/util/images/images.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#447 Bug 1898594: Fix the sriov daemon selector assignement
  go.mod
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller.go
  pkg/controller/sriovnetworknodepolicy/sriovnetworknodepolicy_controller_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, lgtm

#455 Bug 1914852: Fix Main PF panic
  test/conformance/tests/sriov_operator.go
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, lgtm

#464 Bug 1914066: Sync to upstream 1-26
  Makefile
  api/v1/helper.go
  api/v1/sriovibnetwork_types.go
  config/crd/bases/sriovnetwork.openshift.io_sriovibnetworks.yaml
  controllers/helper.go
  controllers/sriovnetworknodepolicy_controller.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm
