Repository openshift/sriov-network-operator, pull requests merged in 2021-08, with the labels that each got.

#549 Bug 1989044: Correct the CSV file name in the ART config file
  manifests/art.yaml
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#550 Bug 1989456: Remove ServiceAccount sriov-network-operator from operator bundle
  bundle.Dockerfile
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  bundle/manifests/sriov-network-operator_v1_serviceaccount.yaml
  bundle/metadata/annotations.yaml
  config/rbac/kustomization.yaml
  config/rbac/service_account.yaml
  manifests/4.9/sriov-network-operator.clusterserviceversion.yaml
  manifests/4.9/sriov-network-operator_v1_serviceaccount.yaml
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#554 Bug 1993007: Use GlobalMgr for SriovNetwork controllers
  main.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#557 Bug 1994997: Fix olm.skipRange substitution
  manifests/art.yaml
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#556 Bug 1994434: Move SA sriov-network-config-daemon definition to CSV file
  Makefile
  bundle/manifests/sriov-network-config-daemon_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/sriov-network-config-daemon_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/sriov-network-config-daemon_rbac.authorization.k8s.io_v1_role.yaml
  bundle/manifests/sriov-network-config-daemon_rbac.authorization.k8s.io_v1_rolebinding.yaml
  bundle/manifests/sriov-network-config-daemon_v1_serviceaccount.yaml
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/rbac/kustomization.yaml
  config/rbac/sriov-network-config-daemon_service_account.yaml
  manifests/4.9/sriov-network-config-daemon_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/4.9/sriov-network-config-daemon_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  manifests/4.9/sriov-network-config-daemon_rbac.authorization.k8s.io_v1_role.yaml
  manifests/4.9/sriov-network-config-daemon_rbac.authorization.k8s.io_v1_rolebinding.yaml
  manifests/4.9/sriov-network-config-daemon_v1_serviceaccount.yaml
  manifests/4.9/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#558 Bug 1996506: use CRD v1 in SriovNetworkPoolConfig patches
  Dockerfile.sriov-network-config-daemon
  config/crd/patches/cainjection_in_sriovnetworkpoolconfigs.yaml
  config/crd/patches/webhook_in_sriovnetworkpoolconfigs.yaml
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovibnetworks.yaml
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworkpoolconfigs.yaml
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworks.yaml
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovoperatorconfigs.yaml
  deployment/sriov-network-operator/templates/role.yaml
  deployment/sriov-network-operator/values.yaml
  main.go
  pkg/utils/shutdown.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium
