Repository openshift/sriov-network-operator, pull requests merged in 2021-09, with the labels that each got.

#555 Update OWNERS file
  OWNERS
Labels: approved, lgtm

#561 Bug 1999079: Sync upstream: 2021-9-8
  api/v1/helper.go
  controllers/helper.go
  controllers/sriovibnetwork_controller.go
  controllers/sriovnetwork_controller.go
  controllers/sriovnetworknodepolicy_controller.go
  controllers/sriovnetworkpoolconfig_controller.go
  controllers/sriovnetworkpoolconfig_controller_test.go
  controllers/sriovoperatorconfig_controller.go
  controllers/suite_test.go
  main.go
  pkg/daemon/daemon.go
  pkg/utils/constants.go
  pkg/utils/shutdown.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#564 Bug 1983964: Support vhost ocp
  api/v1/sriovnetworknodepolicy_types.go
  api/v1/zz_generated.deepcopy.go
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  controllers/sriovnetworknodepolicy_controller.go
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  go.mod
  go.sum
  hack/tools.go
  manifests/4.9/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  test/conformance/tests/sriov_operator.go
  vendor/github.com/cespare/xxhash/v2/.travis.yml
  vendor/github.com/cespare/xxhash/v2/README.md
  vendor/github.com/cespare/xxhash/v2/xxhash.go
  vendor/github.com/cespare/xxhash/v2/xxhash_amd64.s
  vendor/github.com/cespare/xxhash/v2/xxhash_unsafe.go
  vendor/github.com/openshift/machine-config-operator/lib/resourcemerge/apiext.go
  vendor/github.com/openshift/machine-config-operator/lib/resourcemerge/apps.go
  vendor/github.com/openshift/machine-config-operator/lib/resourcemerge/core.go
  vendor/github.com/openshift/machine-config-operator/lib/resourcemerge/machineconfig.go
  vendor/github.com/openshift/machine-config-operator/lib/resourcemerge/meta.go
  vendor/github.com/openshift/machine-config-operator/lib/resourcemerge/rbac.go
  vendor/modules.txt
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#562 Bump up operator version to 4.10
  Dockerfile.sriov-network-config-daemon.rhel7
  Makefile
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  bundleci.Dockerfile
  config/manager/manager.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/4.10/image-references
  manifests/4.10/sriov-network-operator.clusterserviceversion.yaml
  manifests/4.10/sriovnetwork.openshift.io_sriovibnetworks.yaml
  manifests/4.10/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  manifests/4.10/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  manifests/4.10/sriovnetwork.openshift.io_sriovnetworkpoolconfigs.yaml
  manifests/4.10/sriovnetwork.openshift.io_sriovnetworks.yaml
  manifests/4.10/sriovnetwork.openshift.io_sriovoperatorconfigs.yaml
  manifests/4.10/supported-nic-ids_v1_configmap.yaml
  manifests/sriov-network-operator.package.yaml
  pkg/version/version.go
Labels: approved, lgtm
