Repository openshift/sriov-network-operator, pull requests merged in 2021-12, with the labels that each got.

#593 Bug 2027672: Backport tun device 4.9
  bindata/scripts/load-kmod.sh
  pkg/daemon/daemon.go
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#599 Add Pensando device ID 1dd8/1002/1003
  manifests/4.10/supported-nic-ids_v1_configmap.yaml
Labels: approved, lgtm

#575 Bug 2025993: Webhook failurePolicy reset backport (4.8)
  api/v1/helper.go
  controllers/helper.go
  controllers/sriovibnetwork_controller.go
  controllers/sriovnetwork_controller.go
  controllers/sriovnetworknodepolicy_controller.go
  controllers/sriovoperatorconfig_controller.go
  controllers/sriovoperatorconfig_controller_test.go
  controllers/suite_test.go
  main.go
  pkg/plugins/mco/mco_plugin.go
  pkg/utils/constants.go
  pkg/utils/shutdown.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#597 Bug 2028256: Check if generic_plugin is loaded before invoking it
  pkg/daemon/daemon.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, backport-risk-assessed

#594 Bug 2027676: Backport tun device 4.8
  api/v1/sriovnetworknodepolicy_types.go
  api/v1/zz_generated.deepcopy.go
  bindata/scripts/load-kmod.sh
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  controllers/sriovnetworknodepolicy_controller.go
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  manifests/4.8/sriov-network-operator-sriovnetworknodepolicy.crd.yaml
  pkg/daemon/daemon.go
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#589 Bug 2027893: unset default linkType value in operator webhook
  pkg/webhook/mutate.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, backport-risk-assessed

#577 Bug 2016398: Webhook failurePolicy reset backport (4.7)
  api/v1/helper.go
  controllers/helper.go
  controllers/sriovibnetwork_controller.go
  controllers/sriovnetwork_controller.go
  controllers/sriovnetworknodepolicy_controller.go
  controllers/sriovoperatorconfig_controller.go
  controllers/sriovoperatorconfig_controller_test.go
  controllers/suite_test.go
  main.go
  pkg/plugins/mco/mco_plugin.go
  pkg/utils/constants.go
  pkg/utils/shutdown.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#605 Sync upstream: 2021-12-17
  .github/workflows/pr-ci-triggers.yml
  api/v1/helper.go
  api/v1/sriovnetworknodestate_types.go
  bindata/manifests/switchdev-config/files/switchdev-configuration-after-NM.sh.yaml
  bindata/manifests/switchdev-config/files/switchdev-configuration-before-NM.sh.yaml
  bindata/manifests/switchdev-config/switchdev-units/NetworkManager.service.yaml
  bindata/manifests/switchdev-config/switchdev-units/switchdev-configuration-after-NM.yaml
  bindata/manifests/switchdev-config/switchdev-units/switchdev-configuration-before-NM.yaml
  ci/README.md
  ci/admin-list.yaml
  ci/examples/jenkins/README.md
  ci/examples/jenkins/sriov-network-operator-ci.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  doc/testing-kind.md
  go.sum
  hack/run-e2e-test-kind.sh
  hack/teardown-e2e-kind-cluster.sh
  hack/vf-netns-switcher.sh
  hack/vf-switcher.service
  pkg/plugins/generic/generic_plugin.go
  pkg/utils/switchdev.go
  pkg/utils/utils.go
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
Labels: approved, lgtm

#590 Bug 2027911: unset default linkType value in operator webhook
  pkg/webhook/mutate.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, backport-risk-assessed

#598 Bug 2028257: Check if generic_plugin is loaded before invoking it
  pkg/daemon/daemon.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, backport-risk-assessed

#606 BUG 2013199: Update operator bundle
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  manifests/4.10/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#607 Bug 2021151: Sync master 23 12 21
  bindata/manifests/switchdev-config/files/switchdev-configuration-after-nm.sh.yaml
  bindata/manifests/switchdev-config/files/switchdev-configuration-before-nm.sh.yaml
  bindata/manifests/switchdev-config/switchdev-units/switchdev-configuration-after-nm.yaml
  bindata/manifests/switchdev-config/switchdev-units/switchdev-configuration-before-nm.yaml
  controllers/sriovoperatorconfig_controller.go
  main.go
  pkg/daemon/daemon.go
  pkg/plugins/k8s/k8s_plugin.go
  pkg/utils/cluster.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#609 Revert "Bug 2021151: Sync master 23 12 21"
  bindata/manifests/switchdev-config/files/switchdev-configuration-after-NM.sh.yaml
  bindata/manifests/switchdev-config/files/switchdev-configuration-before-NM.sh.yaml
  bindata/manifests/switchdev-config/switchdev-units/switchdev-configuration-after-NM.yaml
  bindata/manifests/switchdev-config/switchdev-units/switchdev-configuration-before-NM.yaml
  controllers/sriovoperatorconfig_controller.go
  main.go
  pkg/daemon/daemon.go
  pkg/plugins/k8s/k8s_plugin.go
  pkg/utils/cluster.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#610 Bug 2021151: Sync master 27 12 21
  bindata/manifests/switchdev-config/files/switchdev-configuration-after-nm.sh.yaml
  bindata/manifests/switchdev-config/files/switchdev-configuration-before-nm.sh.yaml
  bindata/manifests/switchdev-config/switchdev-units/switchdev-configuration-after-nm.yaml
  bindata/manifests/switchdev-config/switchdev-units/switchdev-configuration-before-nm.yaml
  controllers/sriovoperatorconfig_controller.go
  main.go
  pkg/daemon/daemon.go
  pkg/plugins/k8s/k8s_plugin.go
  pkg/utils/cluster.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high
