Repository openshift/sriov-network-operator, pull requests merged in 2022-04, with the labels that each got.

#649 Bug 2072455: fix make bundle
  Makefile
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low

#653 4.11 update 2022 04 14
  .github/workflows/go.yml
  Dockerfile.sriov-network-config-daemon
  api/v1/helper.go
  bindata/manifests/daemon/daemonset.yaml
  bindata/manifests/operator-webhook/server.yaml
  ci/admin-list.yaml
  cmd/sriov-network-config-daemon/start.go
  controllers/sriovoperatorconfig_controller.go
  deploy/operator.yaml
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  doc/hacking.md
  hack/env.sh
  pkg/daemon/daemon.go
  pkg/daemon/writer.go
  pkg/utils/utils.go
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
Labels: approved, lgtm

#655 Bug 2036948: improve the virtual plugin support
  cmd/sriov-network-config-daemon/start.go
  deploy/configmap.yaml
  deployment/sriov-network-operator/templates/configmap.yaml
  manifests/stable/supported-nic-ids_v1_configmap.yaml
  pkg/daemon/daemon.go
  pkg/daemon/writer.go
  pkg/utils/utils_virtual.go
  pkg/webhook/validate.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#654 Add support for Pensando DSC card
  pkg/webhook/validate_test.go
Labels: approved, ok-to-test, lgtm

#651 Bug 2072498: fix make bundle
  Makefile
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-low, backport-risk-assessed
