Repository openshift/sriov-network-operator, pull requests merged in 2022-02, with the labels that each got.

#603 Bug 2033129: Run generic plugin Apply when no vender plugin loaded
  pkg/daemon/daemon.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, backport-risk-assessed

#616 Bump sriov operator image to ocp 4.11
  Dockerfile.rhel7
Labels: approved, lgtm

#621 Fix must-gather container
  must-gather/Dockerfile.rhel7
Labels: approved, lgtm

#618 Bug 2049774: Fix webhook for virtual workers
  api/v1/helper.go
  cmd/sriov-network-config-daemon/start.go
  pkg/utils/utils_virtual.go
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, backport-risk-assessed

#630 Bug 2053947: backport W/A for Vfs not getting created 4.9
  pkg/utils/utils.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, backport-risk-assessed
