Repository openshift/sriov-network-operator, pull requests merged in 2022-12, with the labels that each got.

#731 OCPBUGS-4626: Fix machine config update in sriovnetworkpoolconfig_controller
  controllers/sriovnetworkpoolconfig_controller.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug

#732 OCPBUGS-4140: Fix machine config update in sriovnetworkpoolconfig_controller
  controllers/sriovnetworkpoolconfig_controller.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#739 Add script to switch BF2 between NIC and DPU mode
  bindata/scripts/bf2-switch-mode.sh
Labels: approved, lgtm

#740 OCPBUGS-4842: Add script to switch BF2 between NIC and DPU mode
  bindata/scripts/bf2-switch-mode.sh
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#738 OCPBUGS-4722: update version to 4.13
  Makefile
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/sriov-network-operator.package.yaml
  manifests/stable/image-references
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/version/version.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/severity-important, jira/valid-bug
