Repository openshift/sriov-network-operator, pull requests merged in 2022-10, with the labels that each got.

#703 Sync k8snetworkplumbingwg/master 2022_09_22
  deploy/configmap.yaml
  deployment/sriov-network-operator/templates/configmap.yaml
  doc/supported-hardware.md
  doc/vendor-support.md
  pkg/plugins/generic/generic_plugin.go
  pkg/plugins/generic/generic_plugin_test.go
  pkg/plugins/mellanox/mellanox_plugin.go
  pkg/utils/switchdev.go
  pkg/utils/utils.go
  pkg/utils/utils_mlx.go
Labels: approved, lgtm

#692 OCPBUGS-2355: Add bn222 to OWNERS
  OWNERS
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#710 OCPBUGS-2126: Update RBAC files for the network-config-daemon
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/rbac/sriov-network-config-daemon_clusterrole.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm, bugzilla/valid-bug, jira/severity-critical, jira/valid-bug

#693 [release-4.11] OCPBUGS-694: Remove must gather
  config/manager/manager.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug

#708 Remove duplicated Intel E810 NIC card
  deploy/configmap.yaml
  deployment/sriov-network-operator/templates/configmap.yaml
Labels: approved, lgtm

#709 OCPBUGS-2109: Sync 2022 10
  deploy/configmap.yaml
  deployment/sriov-network-operator/templates/configmap.yaml
  doc/supported-hardware.md
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-moderate

#691 OCPBUGS-2357: Add bn222 to OWNERS
  OWNERS
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug
