Repository openshift/sriov-network-operator, pull requests merged in 2022-11, with the labels that each got.

#717 Sync k8snetworkplumbingwg/master 2022-11-14
  pkg/daemon/writer.go
  pkg/utils/utils.go
  test/util/clean/clean.go
  test/util/namespaces/namespaces.go
Labels: approved, lgtm

#715 Fixed VF Device ID in manifests configmap for BCM57414
  manifests/stable/supported-nic-ids_v1_configmap.yaml
Labels: needs-ok-to-test, approved, ok-to-test, lgtm

#704 OCPBUGS-1888: Fixed sriov conformance release vf test case
  test/conformance/tests/sriov_operator.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#712 Bug OCPBUGS-2786: improve drain check
  pkg/plugins/generic/generic_plugin.go
  pkg/plugins/generic/generic_plugin_test.go
  pkg/utils/switchdev.go
  pkg/utils/utils.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#724 fix naming convention
  manifests/art.yaml
Labels: approved, lgtm
