Repository openshift/sriov-network-operator, pull requests merged in 2022-01, with the labels that each got.

#611 Bug 2040122: [Release 4.9] Reload VF driver only when rdma is enabled
  api/v1/helper.go
  api/v1/sriovnetworknodestate_types.go
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  manifests/4.9/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  pkg/utils/utils.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-urgent, backport-risk-assessed

#612 Bug 2041734: ensure switchdev service dependencies
  bindata/manifests/switchdev-config/files/switchdev-configuration-after-nm.sh.yaml
  bindata/manifests/switchdev-config/files/switchdev-configuration-before-nm.sh.yaml
  bindata/manifests/switchdev-config/switchdev-units/NetworkManager.service.yaml
  bindata/manifests/switchdev-config/switchdev-units/switchdev-configuration-after-nm.yaml
  bindata/manifests/switchdev-config/switchdev-units/switchdev-configuration-before-nm.yaml
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#600 Bug 2029867: backport for allowing netFilter to be set alone in NicSelector
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, backport-risk-assessed
