Repository openshift/sriov-network-operator, pull requests merged in 2022-05, with the labels that each got.

#658 Bug 2070888: Use /run/ostree-booted to determine RHCOS
  .github/workflows/go.yml
  Makefile
  bindata/scripts/enable-kargs.sh
  test/scripts/enable-kargs_test.sh
  test/scripts/rpm-ostree_mock
  test/scripts/shunit2
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#660 Bug 2087084: Revert "Add support for Pensando DSC card"
  pkg/webhook/validate_test.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#645 Bug 2066401: Support pause MCP on SNO
  pkg/daemon/daemon.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#656 Bug 2077506: backport fixes for OVS HW offload & dependencies
  bindata/scripts/load-kmod.sh
  cmd/sriov-network-config-daemon/start.go
  deploy/configmap.yaml
  deployment/sriov-network-operator/templates/configmap.yaml
  go.mod
  go.sum
  manifests/4.10/supported-nic-ids_v1_configmap.yaml
  pkg/daemon/daemon.go
  pkg/daemon/writer.go
  pkg/plugins/virtual/virtual_plugin.go
  pkg/utils/utils.go
  pkg/utils/utils_virtual.go
  pkg/webhook/validate.go
  vendor/github.com/hashicorp/go-cleanhttp/LICENSE
  vendor/github.com/hashicorp/go-cleanhttp/README.md
  vendor/github.com/hashicorp/go-cleanhttp/cleanhttp.go
  vendor/github.com/hashicorp/go-cleanhttp/doc.go
  vendor/github.com/hashicorp/go-cleanhttp/go.mod
  vendor/github.com/hashicorp/go-cleanhttp/handlers.go
  vendor/github.com/hashicorp/go-retryablehttp/.gitignore
  vendor/github.com/hashicorp/go-retryablehttp/LICENSE
  vendor/github.com/hashicorp/go-retryablehttp/Makefile
  vendor/github.com/hashicorp/go-retryablehttp/README.md
  vendor/github.com/hashicorp/go-retryablehttp/client.go
  vendor/github.com/hashicorp/go-retryablehttp/go.mod
  vendor/github.com/hashicorp/go-retryablehttp/go.sum
  vendor/github.com/hashicorp/go-retryablehttp/roundtripper.go
  vendor/modules.txt
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#639 Bug 2060322: Add RBAC for 'infrastructures' to operator bundle @pliurh @bn222
  bundle.Dockerfile
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  manifests/4.10/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed
