Repository openshift/sriov-network-operator, pull requests merged in 2022-09, with the labels that each got.

#687 OCPBUGS-532: Backport must-gather improvements
  must-gather/collection-scripts/gather
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-low

#689 OCPBUGS-582: Bump up operator version to 4.12
  Makefile
  bundle.Dockerfile
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manager/manager.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/sriov-network-operator.package.yaml
  manifests/stable/image-references
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/version/version.go
Labels: approved, lgtm, bugzilla/valid-bug, jira/severity-important, jira/valid-bug

#694 Bug OCPBUGS-796: load vhost-net kernel module
  pkg/daemon/daemon.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/severity-important, jira/valid-bug

#695 NHE-203: Add Nvidia MLX5 ConnectX-6 Lx Support
  deploy/configmap.yaml
  deployment/sriov-network-operator/templates/configmap.yaml
  doc/supported-hardware.md
Labels: approved, ok-to-test, lgtm

#698 OCPBUGS-1235: Add missing Red Hat Virtio network device into supported nics
  bundle/manifests/supported-nic-ids_v1_configmap.yaml
  config/manifests/bases/sriov-network-operator_configmap.yaml
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-moderate

#690 OCPBUGS-665: fix version typo in yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug
