Repository openshift/sriov-network-operator, pull requests merged in 2023-11, with the labels that each got.

#854 Match origin image to configured image reference
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm

#830 OCPBUGS-19440: [release-4.14]: SriovNetwork, SriovIBNetwork, react on namespace creation
  controllers/sriovibnetwork_controller.go
  controllers/sriovibnetwork_controller_test.go
  controllers/sriovnetwork_controller.go
  controllers/sriovnetwork_controller_test.go
  controllers/suite_test.go
  main.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#855 OCPBUGS-22904: Match origin image to configured image reference
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#856 OCPBUGS-22905: Match origin image to configured image reference
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#852 OCPBUGS-22709: [release-4.13] virtual: get real PCI address for each device found
  Makefile
  bundle/manifests/supported-nic-ids_v1_configmap.yaml
  config/manifests/bases/sriov-network-operator_configmap.yaml
  deploy/configmap.yaml
  deployment/sriov-network-operator/templates/configmap.yaml
  doc/supported-hardware.md
  go.mod
  go.sum
  manifests/stable/supported-nic-ids_v1_configmap.yaml
  pkg/daemon/daemon.go
  pkg/daemon/writer.go
  pkg/utils/command.go
  pkg/utils/mock/mock_command.go
  pkg/utils/sriov.go
  pkg/utils/testdata/meta_data.json
  pkg/utils/testdata/network_data.json
  pkg/utils/utils.go
  pkg/utils/utils_virtual.go
  pkg/utils/utils_virtual_test.go
  vendor/github.com/golang/mock/AUTHORS
  vendor/github.com/golang/mock/CONTRIBUTORS
  vendor/github.com/golang/mock/LICENSE
  vendor/github.com/golang/mock/gomock/call.go
  vendor/github.com/golang/mock/gomock/callset.go
  vendor/github.com/golang/mock/gomock/controller.go
  vendor/github.com/golang/mock/gomock/matchers.go
  vendor/modules.txt
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#857 OCPBUGS-22906: Match origin image to configured image reference
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#847 OCPBUGS-21226: disable HTTP2 by default
  cmd/webhook/start.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#848 OCPBUGS-21211: disable HTTP2 by default
  cmd/webhook/start.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#864 OCPBUGS-23548: Hash contents of cm instead of using resource version
  controllers/sriovnetworknodepolicy_controller.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
  pkg/utils/utils_virtual_test.go
Labels: approved, lgtm, jira/severity-important, jira/valid-bug, jira/valid-reference

#865 OCPBUGS-23547: Hash contents of cm instead of using resource version
  controllers/sriovnetworknodepolicy_controller.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
  pkg/utils/utils_virtual_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#866 OCPBUGS-23546: Hash contents of cm instead of using resource version
  controllers/sriovnetworknodepolicy_controller.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
  pkg/utils/utils_virtual_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#867 OCPBUGS-22807: Hash contents of cm instead of using resource version
  controllers/sriovnetworknodepolicy_controller.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
  pkg/utils/utils_virtual_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#858 OCPBUGS-22907: Match origin image to configured image reference
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#869 OCPBUGS-23950: Add support for ConnectX-7
  bundle/manifests/supported-nic-ids_v1_configmap.yaml
  config/manifests/bases/sriov-network-operator_configmap.yaml
  manifests/stable/supported-nic-ids_v1_configmap.yaml
  pkg/webhook/validate_test.go
Labels: approved, ok-to-test, lgtm, jira/valid-bug, jira/valid-reference
