Repository openshift/sriov-network-operator, pull requests merged in 2023-06, with the labels that each got.

#785 Downstream Sync 06-05
  api/v1/sriovnetworknodepolicy_types.go
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  controllers/sriovnetworknodepolicy_controller.go
  controllers/sriovnetworknodepolicy_controller_test.go
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  deployment/sriov-network-operator/values.yaml
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
  test/conformance/tests/test_sriov_operator.go
  vendor/k8s.io/apimachinery/pkg/util/rand/rand.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
Labels: approved, lgtm

#784 [release-4.10] OCPBUGS-14360: Continue node drain after reboot
  pkg/daemon/daemon.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#786 OCPBUGS-14591: Allow for multiple devices
  bindata/scripts/bf2-switch-mode.sh
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#781 OCPBUGS-14154: Add pciutils dependency
  Dockerfile.sriov-network-config-daemon
  Dockerfile.sriov-network-config-daemon.rhel7
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#789 OCPBUGS-13724: Update version to 4.14
  Makefile
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/sriov-network-operator.package.yaml
  manifests/stable/image-references
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/version/version.go
Labels: approved, ok-to-test, lgtm, jira/severity-important, jira/valid-bug, jira/valid-reference

#788 [release-4.10] OCPBUGS-14359: Skip the Redhat virtual nic from udev rule
  pkg/daemon/daemon.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference
