Repository openshift/sriov-network-operator, pull requests merged in 2023-07, with the labels that each got.

#793 Sync 2023 06 27
  .github/workflows/go.yml
  .golangci.yml
  Dockerfile.sriov-network-config-daemon
  Makefile
  bindata/manifests/operator-webhook/003-webhook.yaml
  bundle.Dockerfile
  bundle/manifests/manager-config_v1_configmap.yaml
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  bundle/metadata/annotations.yaml
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/default/manager_config_patch.yaml
  config/manager/controller_manager_config.yaml
  config/manager/kustomization.yaml
  config/rbac/service_account.yaml
  config/rbac/sriovnetworkpoolconfig_editor_role.yaml
  config/rbac/sriovnetworkpoolconfig_viewer_role.yaml
  controllers/suite_test.go
  deploy/configmap.yaml
  deployment/sriov-network-operator/templates/configmap.yaml
  doc/supported-hardware.md
  manifests/stable/manager-config_v1_configmap.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  manifests/stable/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
  pkg/webhook/validate_test.go
Labels: approved, lgtm

#794 Add support for Intel X710 Backplane and Base T
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  bundle/manifests/supported-nic-ids_v1_configmap.yaml
  config/manifests/bases/sriov-network-operator_configmap.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/supported-nic-ids_v1_configmap.yaml
  pkg/webhook/validate_test.go
Labels: approved, ok-to-test, lgtm

#799 OCPBUGS-14295: Sync 2023 07 13
  Makefile
  api/v1/helper.go
  api/v1/sriovoperatorconfig_types.go
  bindata/manifests/daemon/daemonset.yaml
  bindata/manifests/sriov-config-service/kubernetes/sriov-config-service.yaml
  bindata/manifests/sriov-config-service/openshift/sriov-config-service.yaml
  bindata/manifests/switchdev-config/files/switchdev-configuration-after-nm.sh.yaml
  bindata/manifests/switchdev-config/files/switchdev-configuration-before-nm.sh.yaml
  bindata/scripts/enable-rdma.sh
  bindata/scripts/load-kmod.sh
  cmd/sriov-network-config-daemon/main.go
  cmd/sriov-network-config-daemon/service.go
  cmd/sriov-network-config-daemon/start.go
  config/crd/bases/sriovnetwork.openshift.io_sriovoperatorconfigs.yaml
  controllers/helper.go
  controllers/sriovoperatorconfig_controller.go
  deploy/operator.yaml
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovoperatorconfigs.yaml
  deployment/sriov-network-operator/templates/operator.yaml
  doc/design/TEMPLATE.md
  go.mod
  go.sum
  hack/build-go.sh
  hack/run-e2e-test-kind.sh
  main.go
  pkg/consts/constants.go
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
  pkg/daemon/plugin.go
  pkg/daemon/writer.go
  pkg/host/host.go
  pkg/host/mock/mock_host.go
  pkg/plugins/generic/generic_plugin.go
  pkg/plugins/generic/generic_plugin_test.go
  pkg/plugins/k8s/k8s_plugin.go
  pkg/plugins/virtual/virtual_plugin.go
  pkg/service/utils.go
  pkg/systemd/systemd.go
  pkg/utils/command.go
  pkg/utils/mock/mock_command.go
  pkg/utils/sriov.go
  pkg/utils/utils.go
  pkg/utils/utils_virtual.go
  pkg/webhook/client.go
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
  pkg/webhook/webhook.go
  test/conformance/tests/test_sriov_operator.go
  test/util/cluster/cluster.go
  vendor/github.com/golang/mock/AUTHORS
  vendor/github.com/golang/mock/CONTRIBUTORS
  vendor/github.com/golang/mock/LICENSE
  vendor/github.com/golang/mock/gomock/call.go
  vendor/github.com/golang/mock/gomock/callset.go
  vendor/github.com/golang/mock/gomock/controller.go
  vendor/github.com/golang/mock/gomock/matchers.go
  vendor/modules.txt
Labels: approved, lgtm, jira/severity-important, jira/valid-bug, jira/valid-reference

#802 OCPBUGS-16170: Add support for Intel X710 Backplane and Base T
  bundle/manifests/supported-nic-ids_v1_configmap.yaml
  config/manifests/bases/sriov-network-operator_configmap.yaml
  deploy/configmap.yaml
  deployment/sriov-network-operator/templates/configmap.yaml
  doc/supported-hardware.md
  manifests/stable/supported-nic-ids_v1_configmap.yaml
  pkg/webhook/validate_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#804 OCPBUGS-16247: [release-4.13] Fix race condition in leader election for OCP
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#803 OCPBUGS-15611: Add support for Intel X710 Backplane and Base T
  bundle/manifests/supported-nic-ids_v1_configmap.yaml
  config/manifests/bases/sriov-network-operator_configmap.yaml
  deploy/configmap.yaml
  deployment/sriov-network-operator/templates/configmap.yaml
  doc/supported-hardware.md
  manifests/stable/supported-nic-ids_v1_configmap.yaml
  pkg/webhook/validate_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference
