Repository openshift/sriov-network-operator, pull requests merged in 2023-09, with the labels that each got.

#814 OCPBUGS-17930: Add support for BCM57504 Release 4.12
  manifests/stable/supported-nic-ids_v1_configmap.yaml
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#798 OCPBUGS-18409: [release-4.13] Allow creating policies that ignore NUMA topology
  api/v1/sriovnetworknodepolicy_types.go
  bundle.Dockerfile
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  bundle/metadata/annotations.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  controllers/sriovnetworknodepolicy_controller.go
  controllers/sriovnetworknodepolicy_controller_test.go
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
  vendor/k8s.io/apimachinery/pkg/util/rand/rand.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#815 OCPBUGS-16906: Never reduce MTU on PF
  cmd/webhook/start.go
  controllers/sriovnetworknodepolicy_controller.go
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
  pkg/plugins/k8s/k8s_plugin.go
  pkg/render/render.go
  pkg/service/service_manager.go
  pkg/service/utils.go
  pkg/systemd/systemd.go
  pkg/utils/driver.go
  pkg/utils/sriov.go
  pkg/utils/utils.go
  pkg/utils/utils_virtual.go
  test/util/fakefilesystem/fakefilesystem.go
  test/util/netns/netns.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#817 OCPBUGS-18451: [release-4.13] Reduce operator and config-daemon verbosity
  api/v1/helper.go
  controllers/sriovnetworknodepolicy_controller.go
  main.go
  pkg/utils/utils.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#822 OCPBUGS-18177: change the bundle to always use stable
  manifests/sriov-network-operator.package.yaml
Labels: approved, lgtm, jira/severity-critical, jira/valid-bug, jira/valid-reference

#818 OCPBUGS-18501: SR-IOV should reject bad MTU config in policy
  pkg/utils/utils.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#824 OCPBUGS-8266: Downstream Sync 2023-09-19
  controllers/sriovibnetwork_controller.go
  controllers/sriovibnetwork_controller_test.go
  controllers/sriovnetwork_controller.go
  controllers/sriovnetwork_controller_test.go
  controllers/suite_test.go
  doc/design/externally-manage-pf.md
  go.mod
  go.sum
  hack/run-e2e-conformance.sh
  main.go
  test/conformance/test_suite_test.go
  test/util/k8sreporter/reporter.go
  test/validation/test_suite_test.go
  vendor/github.com/openshift-kni/k8sreporter/LICENSE
  vendor/github.com/openshift-kni/k8sreporter/README.md
  vendor/github.com/openshift-kni/k8sreporter/client.go
  vendor/github.com/openshift-kni/k8sreporter/reporter.go
  vendor/modules.txt
Labels: approved, lgtm, jira/severity-important, jira/valid-bug, jira/valid-reference

#831 Bump images to rhel-9
  Dockerfile.rhel7
  Dockerfile.sriov-network-config-daemon.rhel7
  Dockerfile.webhook.rhel7
Labels: approved, lgtm
