Repository openshift/sriov-network-operator, pull requests merged in 2023-10, with the labels that each got.

#841 Downstream sync 20231020
  .github/workflows/test.yml
  Makefile
  README.md
  api/v1/helper.go
  api/v1/sriovnetwork_types.go
  api/v1/sriovnetworknodepolicy_types.go
  api/v1/sriovnetworknodestate_types.go
  bindata/manifests/cni-config/sriov-cni-config.yaml
  bindata/manifests/plugins/sriov-device-plugin.yaml
  bindata/scripts/udev-find-sriov-pf.sh
  cmd/sriov-network-config-daemon/service.go
  cmd/sriov-network-config-daemon/start.go
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworks.yaml
  controllers/helper.go
  controllers/sriovibnetwork_controller.go
  controllers/sriovnetwork_controller.go
  controllers/sriovnetwork_controller_test.go
  controllers/sriovnetworknodepolicy_controller.go
  controllers/sriovoperatorconfig_controller.go
  controllers/sriovoperatorconfig_controller_test.go
  deploy/configmap.yaml
  deploy/role.yaml
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworks.yaml
  deployment/sriov-network-operator/templates/configmap.yaml
  deployment/sriov-network-operator/templates/role.yaml
  doc/testing-virtual-machine.md
  hack/run-e2e-conformance-virtual-cluster.sh
  hack/run-e2e-conformance-virtual-ocp.sh
  hack/run-e2e-conformance.sh
  pkg/apply/apply.go
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
  pkg/daemon/event_recorder.go
  pkg/daemon/plugin.go
  pkg/daemon/writer.go
  pkg/host/host.go
  pkg/host/mock/mock_host.go
  pkg/plugins/generic/generic_plugin.go
  pkg/plugins/generic/generic_plugin_test.go
  pkg/plugins/mellanox/mellanox_plugin.go
  pkg/systemd/systemd.go
  pkg/utils/mock/mock_store.go
  pkg/utils/sriov.go
  pkg/utils/store.go
  pkg/utils/utils.go
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
  test/conformance/test_suite_test.go
  test/conformance/tests/test_sriov_operator.go
  test/util/cluster/cluster.go
  test/util/network/network.go
  test/util/pod/pod.go
Labels: approved, lgtm

#842 OCPBUGS-19908: Downstream sync 2023-10-23
  .github/workflows/test.yml
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworks.yaml
  deploy/configmap.yaml
  deployment/sriov-network-operator/templates/configmap.yaml
  doc/supported-hardware.md
  hack/run-e2e-conformance-virtual-cluster.sh
  hack/run-e2e-conformance-virtual-ocp.sh
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  manifests/stable/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  manifests/stable/sriovnetwork.openshift.io_sriovnetworks.yaml
  pkg/daemon/daemon.go
  pkg/utils/testdata/meta_data.json
  pkg/utils/testdata/network_data.json
  pkg/utils/utils_virtual.go
  pkg/utils/utils_virtual_test.go
  test/conformance/tests/test_sriov_operator.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#840 OCPBUGS-20211: update version to 4.15
  Makefile.bundle
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/sriov-network-operator.package.yaml
  manifests/stable/image-references
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/version/version.go
Labels: approved, lgtm, jira/severity-critical, jira/valid-bug, jira/valid-reference

#845 OCPBUGS-22158: disable HTTP2 by default
  cmd/webhook/start.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#844 [downstream-only] Support RH Virtio 1.0 network device
  bundle/manifests/supported-nic-ids_v1_configmap.yaml
  config/manifests/bases/sriov-network-operator_configmap.yaml
  manifests/stable/supported-nic-ids_v1_configmap.yaml
Labels: approved, lgtm

#846 OCPBUGS-21249: disable HTTP2 by default
  cmd/webhook/start.go
Labels: approved, lgtm, cherry-pick-approved, staff-eng-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#843 OCPBUGS-22279: [release-4.14] virtual: get real PCI address for each device found
  bundle/manifests/supported-nic-ids_v1_configmap.yaml
  config/manifests/bases/sriov-network-operator_configmap.yaml
  deploy/configmap.yaml
  deployment/sriov-network-operator/templates/configmap.yaml
  doc/supported-hardware.md
  manifests/stable/supported-nic-ids_v1_configmap.yaml
  pkg/daemon/daemon.go
  pkg/utils/testdata/meta_data.json
  pkg/utils/testdata/network_data.json
  pkg/utils/utils_virtual.go
  pkg/utils/utils_virtual_test.go
Labels: approved, lgtm, cherry-pick-approved, staff-eng-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#853 Replace reference to quay image with origin image
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm
