Repository openshift/sriov-network-operator, pull requests merged in 2023-08, with the labels that each got.

#810 Downstream Sync 2023-08-04
  api/v1/helper.go
  controllers/sriovnetworknodepolicy_controller.go
  main.go
  test/conformance/tests/test_sriov_operator.go
  test/util/client/clients.go
Labels: approved, lgtm

#809 Partially revert BCM57504 update
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  bundle/manifests/supported-nic-ids_v1_configmap.yaml
  config/manifests/bases/sriov-network-operator_configmap.yaml
  deploy/configmap.yaml
  deployment/sriov-network-operator/templates/configmap.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/webhook/validate_test.go
Labels: approved, lgtm

#791 OCPBUGS-14954: Fix multiple dev bug 4.13
  bindata/scripts/bf2-switch-mode.sh
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#811 OCPBUGS-14499: Sync 20230811
  controllers/sriovnetworknodepolicy_controller.go
  pkg/utils/utils.go
Labels: approved, lgtm, jira/severity-important, jira/valid-bug, jira/valid-reference

#813 OCPBUGS-17929: Add support for BCM57504 Release 4.13
  manifests/stable/supported-nic-ids_v1_configmap.yaml
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#816 Revert "Updating images to pull from github instead of quay.io"
  hack/env.sh
Labels: approved, lgtm
