Repository openshift/sriov-network-operator, pull requests merged in 2023-03, with the labels that each got.

#750 Vdpa introduction
  api/v1/helper.go
  api/v1/helper_test.go
  api/v1/sriovnetworknodepolicy_types.go
  api/v1/sriovnetworknodestate_types.go
  bindata/manifests/switchdev-config/files/switchdev-configuration-after-nm.sh.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  controllers/sriovnetworknodepolicy_controller.go
  controllers/sriovnetworknodepolicy_controller_test.go
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  doc/vdpa.md
  go.mod
  go.sum
  pkg/consts/constants.go
  pkg/plugins/generic/generic_plugin.go
  pkg/utils/switchdev.go
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
  vendor/github.com/k8snetworkplumbingwg/govdpa/pkg/kvdpa/device.go
  vendor/github.com/k8snetworkplumbingwg/govdpa/pkg/kvdpa/kvdpa.go
  vendor/github.com/k8snetworkplumbingwg/govdpa/pkg/kvdpa/mgmtdev.go
  vendor/github.com/k8snetworkplumbingwg/govdpa/pkg/kvdpa/netlink.go
  vendor/github.com/k8snetworkplumbingwg/govdpa/pkg/kvdpa/vhost.go
  vendor/github.com/k8snetworkplumbingwg/govdpa/pkg/kvdpa/virtio.go
  vendor/github.com/k8snetworkplumbingwg/sriov-network-device-plugin/pkg/types/types.go
  vendor/github.com/k8snetworkplumbingwg/sriov-network-device-plugin/pkg/utils/vdpa_provider.go
  vendor/modules.txt
Labels: approved, ok-to-test, lgtm

#755 Sync 2023-03-13
  api/v1/helper.go
  api/v1/helper_test.go
  api/v1/sriovnetworknodestate_types.go
  bindata/manifests/plugins/sriov-device-plugin.yaml
  bindata/manifests/switchdev-config/ovs-units/ovs-vswitchd.service.yaml
  cmd/sriov-network-config-daemon/start.go
  cmd/sriov-network-config-daemon/version.go
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  controllers/sriovibnetwork_controller_test.go
  controllers/sriovnetwork_controller_test.go
  controllers/sriovnetworknodepolicy_controller.go
  controllers/sriovnetworknodepolicy_controller_test.go
  controllers/sriovnetworkpoolconfig_controller.go
  controllers/sriovnetworkpoolconfig_controller_test.go
  controllers/sriovoperatorconfig_controller.go
  controllers/suite_test.go
  deploy/namespace.yaml
  deployment/sriov-network-operator/README.md
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  deployment/sriov-network-operator/templates/sriovnetworknodepolicy.yaml
  main.go
  pkg/client/informers/externalversions/factory.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/client/informers/externalversions/sriovnetwork/v1/sriovnetwork.go
  pkg/client/informers/externalversions/sriovnetwork/v1/sriovnetworknodepolicy.go
  pkg/client/informers/externalversions/sriovnetwork/v1/sriovnetworknodestate.go
  pkg/client/informers/externalversions/sriovnetwork/v1/sriovoperatorconfig.go
  pkg/client/listers/sriovnetwork/v1/sriovnetwork.go
  pkg/client/listers/sriovnetwork/v1/sriovnetworknodepolicy.go
  pkg/client/listers/sriovnetwork/v1/sriovnetworknodestate.go
  pkg/client/listers/sriovnetwork/v1/sriovoperatorconfig.go
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
  pkg/plugins/mellanox/mellanox_plugin.go
  pkg/plugins/virtual/virtual_plugin.go
  pkg/render/testdata/machineconfig/units/ovs-vswitchd.service.yaml
  pkg/utils/openshift_context.go
  pkg/utils/shutdown.go
  pkg/webhook/validate_test.go
  test/conformance/tests/test_sriov_operator.go
  test/util/client/clients.go
  test/util/discovery/discovery.go
  test/util/k8sreporter/reporter.go
  test/util/namespaces/namespaces.go
  test/util/network/network.go
  test/util/network/network_test.go
  test/util/nodes/nodes.go
Labels: approved, lgtm

#756 [release-4.13] OCPBUGS-7856: Add the no-wait argument to ovs-vsctl commands for hw-offload
  bindata/manifests/switchdev-config/ovs-units/ovs-vswitchd.service.yaml
  pkg/render/testdata/machineconfig/units/ovs-vswitchd.service.yaml
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/severity-critical, jira/valid-bug, jira/valid-reference

#758 Fix bundle & manifest generation for vDPA CRDs
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  manifests/stable/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  manifests/stable/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
Labels: approved, ok-to-test, lgtm

#757 [release-4.12] OCPBUGS-10280: Add the no-wait argument to ovs-vsctl commands for hw-offload
  bindata/manifests/switchdev-config/ovs-units/ovs-vswitchd.service.yaml
  pkg/render/testdata/machineconfig/units/ovs-vswitchd.service.yaml
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/severity-critical, jira/valid-bug, jira/valid-reference

#762 OCPBUGS-10886: Fix draning annotation 4.13
  cmd/sriov-network-config-daemon/start.go
  controllers/sriovnetworkpoolconfig_controller.go
  controllers/sriovoperatorconfig_controller.go
  controllers/suite_test.go
  main.go
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
  pkg/utils/openshift_context.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#764 OCPBUGS-11065: Fix networks-status annotation in e2e tests
  test/util/network/network.go
  test/util/network/network_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference
