Repository openshift/sriov-network-operator, pull requests merged in 2023-01, with the labels that each got.

#742 OCPBUGS-5178: Fix passing device to mstconfig
  bindata/scripts/bf2-switch-mode.sh
Labels: approved, lgtm, bugzilla/valid-bug, jira/severity-critical, jira/valid-bug

#743 OCPBUGS-5210: Fix passing device to mstconfig
  bindata/scripts/bf2-switch-mode.sh
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/severity-critical, jira/valid-bug

#733 OCPBUGS-4390: Fix machine config update in sriovnetworkpoolconfig_controller
  controllers/sriovnetworkpoolconfig_controller.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug

#734 OCPBUGS-4391: Fix machine config update in sriovnetworkpoolconfig_controller
  controllers/sriovnetworkpoolconfig_controller.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed, jira/valid-bug
