Repository openshift/sriov-network-operator, pull requests merged in 2024-11, with the labels that each got.

#1017 OCPBUGS-43108: [release-4.17] Delete webhooks when SriovOperatorConfig is deleted
  controllers/sriovoperatorconfig_controller.go
  controllers/sriovoperatorconfig_controller_test.go
  pkg/host/internal/network/network.go
  pkg/host/internal/vdpa/vdpa.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1008 OCPBUGS-42252: [release-4.17] Preserve user defined annotations on `SriovNetworks`
  controllers/generic_network_controller.go
  controllers/sriovnetwork_controller_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#1034 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  bindata/manifests/plugins/sriov-device-plugin.yaml
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  controllers/helper.go
  controllers/helper_test.go
  controllers/sriovnetworknodepolicy_controller.go
  controllers/sriovnetworknodepolicy_controller_test.go
  controllers/sriovoperatorconfig_controller.go
  controllers/sriovoperatorconfig_controller_test.go
  controllers/suite_test.go
  deploy/clusterrole.yaml
  deploy/role.yaml
  deployment/sriov-network-operator-chart/templates/clusterrole.yaml
  deployment/sriov-network-operator-chart/templates/role.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/consts/constants.go
  pkg/utils/cluster.go
Labels: approved, lgtm

#1036 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  deploy/operator.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm

#1037 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  api/v1/helper.go
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  cmd/sriov-network-config-daemon/service.go
  cmd/sriov-network-config-daemon/service_test.go
  controllers/drain_controller.go
  controllers/drain_controller_helper.go
  controllers/helper.go
  deployment/sriov-network-operator-chart/templates/pre-delete-webooks.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/drain/drainer.go
  pkg/helper/mock/mock_helper.go
  pkg/host/internal/udev/udev.go
  pkg/host/internal/udev/udev_test.go
  pkg/host/mock/mock_host.go
  pkg/host/types/interfaces.go
  pkg/platforms/openshift/openshift.go
Labels: approved, lgtm
