Repository openshift/sriov-network-operator, pull requests merged in 2024-08, with the labels that each got.

#978 OCPBUGS-37805: Revert go version to equal ocp 4.15 go version
  go.mod
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#963 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/plugins/mellanox/mellanox_plugin.go
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
  test/conformance/test_suite_test.go
  test/conformance/tests/fixtures.go
  test/conformance/tests/test_policy_configuration.go
  test/conformance/tests/test_sriov_operator.go
Labels: approved, lgtm

#976 d/s only: deploy operator from pull request
  hack/deploy-sriov-in-telco-ci.sh
Labels: approved, lgtm

#980 OCPBUGS-38010: [release-4.16]: Skip firmware reset on devices the operator doesn't control
  pkg/helper/mock/mock_helper.go
  pkg/host/internal/sriov/sriov.go
  pkg/host/internal/sriov/sriov_test.go
  pkg/host/store/mock/mock_store.go
  pkg/host/store/store.go
  pkg/plugins/mellanox/mellanox_plugin.go
  test/conformance/tests/test_sriov_operator.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#986 OCPBUGS-38421: [release-4.15] Skip firmware reset on devices the operator doesn't control
  pkg/helper/mock/mock_helper.go
  pkg/host/internal/sriov/sriov.go
  pkg/host/internal/sriov/sriov_test.go
  pkg/host/store/mock/mock_store.go
  pkg/host/store/store.go
  pkg/plugins/mellanox/mellanox_plugin.go
  test/conformance/tests/test_sriov_operator.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#989 d/s only: remove rebase in telco ci
  hack/deploy-sriov-in-telco-ci.sh
Labels: approved, lgtm

#991 Bump 4.18
  Makefile.bundle
  config/manager/manager.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/sriov-network-operator.package.yaml
  manifests/stable/image-references
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/version/version.go
Labels: approved, lgtm

#992 OCPBUGS-23795: Downstream merge Sync/20240822
  pkg/utils/shutdown.go
  test/conformance/tests/test_sriov_operator.go
Labels: approved, lgtm, jira/severity-important, jira/valid-bug, jira/valid-reference
