Repository openshift/sriov-network-operator, pull requests merged in 2024-02, with the labels that each got.

#884 Bug OCPBUGS-27739: add namespace template for olm
  bundle.Dockerfile
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#886 OCPBUGS-29707: [release-4.15] add namespace template for olm
  bundle.Dockerfile
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm, cherry-pick-approved, staff-eng-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#888 OCPBUGS-29837: [release-4.14] add namespace template for olm
  bundle.Dockerfile
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#883 OCPBUGS-29473: [release-4.15] e2e: Skip tests when no VF-IO devices are available
  .gitignore
  test/conformance/tests/test_sriov_operator.go
  test/util/cluster/cluster.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference
