Repository openshift/sriov-network-operator, pull requests merged in 2024-07, with the labels that each got.

#949 OCPBUGS-34934: Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  Makefile
  README.md
  api/v1/helper.go
  api/v1/helper_test.go
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  deployment/sriov-network-operator-chart/templates/operator.yaml
  hack/run-e2e-conformance-virtual-cluster.sh
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/webhook/validate.go
Labels: approved, lgtm, jira/severity-critical, jira/valid-bug, jira/valid-reference

#953 OCPBUGS-36509,OCPBUGS-36507: Backport critical bugs 4.16
  .snyk
  README.md
  api/v1/helper.go
  api/v1/helper_test.go
  pkg/helper/mock/mock_helper.go
  pkg/host/internal/lib/netlink/mock/mock_netlink.go
  pkg/host/internal/lib/netlink/netlink.go
  pkg/host/internal/network/network.go
  pkg/host/internal/network/network_test.go
  pkg/host/internal/sriov/sriov.go
  pkg/host/internal/sriov/sriov_test.go
  pkg/host/mock/mock_host.go
  pkg/host/types/interfaces.go
  test/conformance/tests/test_sriov_operator.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/severity-critical, jira/valid-bug, jira/valid-reference

#950 OCPBUGS-36268: bump to 4.17
  Makefile.bundle
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/sriov-network-operator.package.yaml
  manifests/stable/image-references
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/version/version.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#964 d/s: update owners
  OWNERS
Labels: approved, lgtm

#970 RDMA-CNI
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  manifests/stable/image-references
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm

#969 OCPBUGS-37585: Do not create default pool CR
  main.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#973 [chore]: fix extra tab on image-references
  manifests/stable/image-references
Labels: approved, lgtm
