Repository openshift/sriov-network-operator, pull requests merged in 2024-04, with the labels that each got.

#907 update owners
  OWNERS
Labels: approved, lgtm

#912 OCPBUGS-31569: update owners
  OWNERS
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#919 OCPBUGS-31596: Replace last instances of labels
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#920 [release 4.12] OCPBUGS-31603: Replace last instance of labels
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#904 OCPBUGS-31554: Fix webhook image user definition
  Dockerfile.webhook.rhel7
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#921 Sync 2024 04 09
  README.md
  api/v1/helper.go
  api/v1/sriovnetworknodestate_types.go
  bindata/manifests/daemon/daemonset.yaml
  bindata/manifests/switchdev-config/files/switchdev-configuration-after-nm.sh.yaml
  bindata/manifests/switchdev-config/files/switchdev-configuration-before-nm.sh.yaml
  bindata/manifests/switchdev-config/files/switchdev-vf-link-name.sh.yaml
  bindata/manifests/switchdev-config/machineconfigpool.yaml
  bindata/manifests/switchdev-config/switchdev-units/NetworkManager.service.yaml
  bindata/manifests/switchdev-config/switchdev-units/switchdev-configuration-after-nm.yaml
  bindata/manifests/switchdev-config/switchdev-units/switchdev-configuration-before-nm.yaml
  bindata/scripts/clean-k8s-services.sh
  bindata/scripts/load-udev.sh
  bindata/scripts/switchdev-vf-link-name.sh
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  controllers/sriovnetworknodepolicy_controller.go
  controllers/sriovnetworknodepolicy_controller_test.go
  controllers/sriovoperatorconfig_controller.go
  controllers/sriovoperatorconfig_controller_test.go
  controllers/suite_test.go
  deploy/operator.yaml
  deployment/sriov-network-operator/README.md
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  deployment/sriov-network-operator/templates/operator.yaml
  deployment/sriov-network-operator/templates/sriovoperatorconfig.yaml
  deployment/sriov-network-operator/values.yaml
  doc/design/software-bridge-management.md
  hack/env.sh
  hack/run-e2e-test.sh
  main.go
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  pkg/consts/constants.go
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
  pkg/featuregate/featuregate.go
  pkg/featuregate/featuregate_test.go
  pkg/featuregate/suite_test.go
  pkg/helper/mock/mock_helper.go
  pkg/host/internal/service/service.go
  pkg/host/internal/sriov/sriov.go
  pkg/host/internal/sriov/sriov_test.go
  pkg/host/internal/udev/udev.go
  pkg/host/internal/udev/udev_test.go
  pkg/host/mock/mock_host.go
  pkg/host/types/interfaces.go
  pkg/host/types/types.go
  pkg/plugins/generic/generic_plugin.go
  pkg/plugins/generic/generic_plugin_test.go
  pkg/plugins/k8s/k8s_plugin.go
  pkg/plugins/k8s/k8s_plugin_test.go
  pkg/render/render.go
  pkg/systemd/systemd.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: approved, lgtm

#923 d/s only: add pod/eviction to operator role
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/rbac/clusterrole.yaml
  config/rbac/sriov-network-config-daemon_clusterrole.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm

#925 d/s only: update csv annotations
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm

#924 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  api/v1/helper.go
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  cmd/sriov-network-config-daemon/service.go
  hack/env.sh
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
  test/conformance/tests/test_sriov_operator.go
  test/e2e/sriovoperatornodepolicy_test.go
Labels: approved, lgtm
