Repository openshift/sriov-network-operator, pull requests merged in 2024-10, with the labels that each got.

#1007 d/s: CNF-12002 set `METRICS_EXPORTER_PROMETHEUS_DEPLOY_RULES`
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm

#1006 OCPBUGS-41897: Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  bindata/manifests/metrics-exporter/metrics-prometheus-rule.yaml
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  controllers/sriovoperatorconfig_controller.go
  controllers/sriovoperatorconfig_controller_test.go
  deploy/operator.yaml
  deploy/role.yaml
  deployment/sriov-network-operator-chart/README.md
  deployment/sriov-network-operator-chart/templates/operator.yaml
  deployment/sriov-network-operator-chart/templates/role.yaml
  deployment/sriov-network-operator-chart/values.yaml
  hack/env.sh
  hack/run-e2e-conformance-virtual-ocp.sh
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/apply/merge.go
  pkg/apply/merge_test.go
  test/conformance/tests/test_exporter_metrics.go
  test/conformance/tests/test_sriov_operator.go
  test/util/cluster/cluster.go
  test/util/crds/monitoring.coreos.com_prometheusrules.yaml
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1010 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/host/internal/network/network.go
  pkg/host/internal/sriov/sriov.go
Labels: approved, lgtm

#1001 OCPBUGS-37668: [release-4.17]: Fix operator quick restart for SNO
  pkg/utils/shutdown.go
  test/conformance/tests/test_sriov_operator.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#1012 OCPBUGS-41711: Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  bindata/manifests/metrics-exporter/metrics-prometheus-rule.yaml
  bindata/manifests/metrics-exporter/metrics-prometheus.yaml
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  hack/run-e2e-conformance-virtual-ocp.sh
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  test/conformance/tests/test_exporter_metrics.go
  test/util/k8sreporter/reporter.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#1014 OCPBUGS-41356, OCPBUGS-41829, OCPBUGS-42874: Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  .github/workflows/test.yml
  bindata/manifests/webhook/002-rbac.yaml
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  hack/deploy-setup.sh
  hack/env.sh
  hack/run-e2e-test-kind.sh
  hack/vf-netns-switcher.sh
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
  pkg/platforms/openstack/openstack.go
  test/conformance/tests/test_exporter_metrics.go
  test/scripts/enable-kargs_test.sh
  test/scripts/rpm-ostree_mock
Labels: approved, lgtm, jira/severity-important, jira/valid-bug, jira/valid-reference

#1013 OCPBUGS-42956: [release-4.13] Render SriovNetworkNodeState before Device Plugin ConfigMap
  controllers/sriovnetworknodepolicy_controller.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1018 [Downstream] Add new DPU/Accelerator NICs
  bundle/manifests/supported-nic-ids_v1_configmap.yaml
  config/manifests/bases/sriov-network-operator_configmap.yaml
  manifests/stable/supported-nic-ids_v1_configmap.yaml
Labels: approved, lgtm

#1019 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  deploy/configmap.yaml
  deployment/sriov-network-operator-chart/templates/configmap.yaml
  doc/supported-hardware.md
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm

#994 OCPBUGS-39355: release[4.16] allow to remove a sriovPool named default
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1015 OCPBUGS-43027: [release-4.17] config-daemon: Restart all instances of device-plugin
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#1026 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/host/internal/network/network.go
  pkg/host/internal/vdpa/vdpa.go
Labels: approved, lgtm

#1028 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  deploy/configmap.yaml
  deployment/sriov-network-operator-chart/README.md
  deployment/sriov-network-operator-chart/templates/configmap.yaml
  doc/supported-hardware.md
  hack/run-e2e-conformance-virtual-cluster.sh
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/host/internal/sriov/sriov.go
Labels: approved, lgtm

#1029 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  Dockerfile
  Makefile
  api/v1/helper.go
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  cmd/sriov-network-operator-config-cleanup/cleanup.go
  cmd/sriov-network-operator-config-cleanup/cleanup_test.go
  cmd/sriov-network-operator-config-cleanup/main.go
  cmd/sriov-network-operator-config-cleanup/suite_test.go
  controllers/sriovoperatorconfig_controller.go
  controllers/sriovoperatorconfig_controller_test.go
  deployment/sriov-network-operator-chart/templates/pre-delete-webooks.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm
