Repository openshift/sriov-network-operator, pull requests merged in 2024-09, with the labels that each got.

#984 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  cmd/sriov-network-config-daemon/service.go
  cmd/sriov-network-config-daemon/service_test.go
  cmd/sriov-network-config-daemon/start.go
  deployment/sriov-network-operator-chart/Chart.yaml
  deployment/sriov-network-operator-chart/README.md
  deployment/sriov-network-operator-chart/templates/sriovoperatorconfig.yaml
  deployment/sriov-network-operator-chart/values.yaml
  doc/ovs-hw-offload.md
  hack/deploy-setup.sh
  hack/undeploy.sh
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/daemon/writer.go
  pkg/helper/mock/mock_helper.go
  pkg/host/internal/bridge/ovs/ovs.go
  pkg/host/internal/bridge/ovs/ovs_test.go
  pkg/host/internal/sriov/sriov.go
  pkg/host/internal/sriov/sriov_test.go
  pkg/host/manager.go
  pkg/host/mock/mock_host.go
  pkg/plugins/generic/generic_plugin.go
  pkg/plugins/generic/generic_plugin_test.go
  pkg/systemd/systemd.go
Labels: approved, lgtm

#955 NO-JIRA: Rename Dockerfile
  Dockerfile.ocp
  Dockerfile.sriov-network-config-daemon.ocp
  Dockerfile.webhook.ocp
Labels: approved, lgtm, jira/valid-reference

#995 [release-4.17] OCPBUGS-39400: SCC-pinning for openshift workloads
  bindata/manifests/daemon/daemonset.yaml
  bindata/manifests/operator-webhook/server.yaml
  bindata/manifests/webhook/server.yaml
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  deploy/operator.yaml
  deployment/sriov-network-operator-chart/templates/operator.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#999 [release-4.16] OCPBUGS-39502: SCC-pinning for openshift workloads
  bindata/manifests/daemon/daemonset.yaml
  bindata/manifests/operator-webhook/server.yaml
  bindata/manifests/webhook/server.yaml
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  deploy/operator.yaml
  deployment/sriov-network-operator/templates/operator.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#998 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  bindata/manifests/metrics-exporter/metrics-daemonset.yaml
  bindata/manifests/operator-webhook/002-rbac.yaml
  bindata/manifests/webhook/002-rbac.yaml
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  controllers/sriovoperatorconfig_controller_test.go
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm

#1005 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  controllers/generic_network_controller.go
  controllers/sriovnetwork_controller_test.go
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/host/internal/sriov/sriov.go
  pkg/host/internal/sriov/sriov_test.go
  test/conformance/tests/test_sriov_operator.go
  test/conformance/tests/test_switchdev.go
  test/util/cluster/cluster.go
Labels: approved, lgtm
