Repository openshift/sriov-network-operator, pull requests merged in 2024-03, with the labels that each got.

#891 OCPBUGS-30558: Externally manage 4.14 update bundle
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  bundle/manifests/supported-nic-ids_v1_configmap.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  manifests/stable/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#896 OCPBUGS-30926: Sync 2024 03 18
  .github/workflows/image-push-master.yml
  .github/workflows/image-push-release.yml
  Dockerfile.webhook
  api/v1/helper.go
  api/v1/helper_test.go
  api/v1/sriovnetworknodestate_types.go
  api/v1/sriovnetworkpoolconfig_types.go
  api/v1/zz_generated.deepcopy.go
  bindata/manifests/operator-webhook/003-webhook.yaml
  bindata/manifests/operator-webhook/server.yaml
  bindata/manifests/webhook/server.yaml
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworkpoolconfigs.yaml
  cmd/sriov-network-config-daemon/start.go
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworkpoolconfigs.yaml
  config/manager/manager.yaml
  controllers/drain_controller.go
  controllers/drain_controller_test.go
  controllers/helper.go
  controllers/sriovnetworknodepolicy_controller.go
  controllers/sriovnetworkpoolconfig_controller.go
  controllers/sriovnetworkpoolconfig_controller_test.go
  controllers/suite_test.go
  deploy/clusterrole.yaml
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  deployment/sriov-network-operator/crds/sriovnetwork.openshift.io_sriovnetworkpoolconfigs.yaml
  deployment/sriov-network-operator/templates/clusterrole.yaml
  doc/design/parallel-node-config.md
  hack/run-e2e-conformance-virtual-ocp.sh
  hack/virtual-cluster-redeploy.sh
  main.go
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  manifests/stable/sriovnetwork.openshift.io_sriovnetworkpoolconfigs.yaml
  pkg/consts/constants.go
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
  pkg/drain/drainer.go
  pkg/helper/mock/mock_helper.go
  pkg/host/internal/kernel/kernel.go
  pkg/host/internal/kernel/kernel_test.go
  pkg/host/internal/sriov/sriov.go
  pkg/host/internal/sriov/sriov_test.go
  pkg/host/mock/mock_host.go
  pkg/host/types/interfaces.go
  pkg/platforms/mock/mock_platforms.go
  pkg/platforms/openshift/mock/mock_openshift.go
  pkg/platforms/openshift/openshift.go
  pkg/utils/cluster.go
  pkg/utils/utils_test.go
  pkg/vars/vars.go
  pkg/webhook/validate.go
  pkg/webhook/validate_test.go
  pkg/webhook/webhook.go
  test/util/pod/pod.go
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#897 d/s only install kustomize and operator-sdk for bundle
  Makefile.bundle
Labels: approved, lgtm

#899 download the operator-sdk instead of go install
  Makefile.bundle
Labels: approved, lgtm

#900 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  api/v1/helper.go
  bindata/manifests/webhook/003-webhook.yaml
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  controllers/generic_network_controller.go
  controllers/sriovibnetwork_controller.go
  controllers/sriovnetwork_controller.go
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm

#902 Change format of features.operators.openshift.io/*
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm
