Repository openshift/sriov-network-operator, pull requests merged in 2025-04, with the labels that each got.

#1073 OCPBUGS-52853,OCPBUGS-54380,OCPBUGS-54401: Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into main
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  controllers/sriovnetworknodepolicy_controller.go
  controllers/sriovnetworknodepolicy_controller_test.go
  controllers/suite_test.go
  deploy/configmap.yaml
  deployment/sriov-network-operator-chart/templates/configmap.yaml
  doc/supported-hardware.md
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/consts/constants.go
  pkg/daemon/daemon_test.go
  pkg/daemon/plugin_test.go
  pkg/daemon/status.go
  pkg/plugins/generic/generic_plugin.go
  pkg/plugins/generic/generic_plugin_test.go
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1079 OCPBUGS-54085: [release-4.13] Bump github.com/golang-jwt/jwt/v4 from v4.2.0 to 4.5.2
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/README.md
  vendor/github.com/golang-jwt/jwt/v4/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v4/claims.go
  vendor/github.com/golang-jwt/jwt/v4/errors.go
  vendor/github.com/golang-jwt/jwt/v4/map_claims.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v4/parser_option.go
  vendor/github.com/golang-jwt/jwt/v4/rsa_pss.go
  vendor/github.com/golang-jwt/jwt/v4/token.go
  vendor/github.com/golang-jwt/jwt/v4/types.go
  vendor/modules.txt
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#1081 OCPBUGS-54958: [release-4.18]: controllers: Use patch to add finalizers
  controllers/sriovoperatorconfig_controller.go
  controllers/sriovoperatorconfig_controller_test.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#1084 OCPBUGS-54583: release[4.18] remove 5 second timeout from daemon informer
  pkg/daemon/daemon.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1086 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into main
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  test/conformance/tests/test_networkpool.go
Labels: approved, lgtm

#1087 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into main
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  deployment/sriov-network-operator-chart/README.md
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/consts/constants.go
Labels: approved, lgtm
