Repository openshift/sriov-network-operator, pull requests merged in 2025-07, with the labels that each got.

#1104 ds: bump operator to 4.20
  Makefile.bundle
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/sriov-network-operator.package.yaml
  manifests/stable/image-references
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/version/version.go
Labels: approved, lgtm

#1107 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into main
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  hack/run-e2e-conformance-virtual-ocp.sh
  hack/virtual-cluster-redeploy.sh
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm

#1113 OCPBUGS-58827,OCPBUGS-58819: Bump glog dependency to v1.2.4 that fixes CVE-2024-45339
  go.mod
  go.sum
  vendor/github.com/golang/glog/glog.go
  vendor/github.com/golang/glog/glog_file.go
  vendor/github.com/golang/glog/glog_file_linux.go
  vendor/github.com/golang/glog/glog_file_nonwindows.go
  vendor/github.com/golang/glog/glog_file_other.go
  vendor/github.com/golang/glog/glog_file_posix.go
  vendor/github.com/golang/glog/glog_file_windows.go
  vendor/github.com/golang/glog/glog_flags.go
  vendor/github.com/golang/glog/internal/logsink/logsink.go
  vendor/modules.txt
Labels: approved, lgtm, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#1111 OCPBUGS-59200: add requeue when we wait for drain to complete
  pkg/daemon/daemon.go
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1115 OCPBUGS-58815,OCPBUGS-58823: Bump glog dependency to v1.2.4 that fixes CVE-2024-45339
  go.mod
  go.sum
  vendor/github.com/golang/glog/glog.go
  vendor/github.com/golang/glog/glog_file.go
  vendor/github.com/golang/glog/glog_file_linux.go
  vendor/github.com/golang/glog/glog_file_nonwindows.go
  vendor/github.com/golang/glog/glog_file_other.go
  vendor/github.com/golang/glog/glog_file_posix.go
  vendor/github.com/golang/glog/glog_file_windows.go
  vendor/github.com/golang/glog/glog_flags.go
  vendor/github.com/golang/glog/internal/logsink/logsink.go
  vendor/modules.txt
Labels: approved, lgtm, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#1089 CNF-17884 Operator's network policies
  Makefile.bundle
  PROJECT
  bundle.Dockerfile
  bundle/manifests/operator-allow-egress-to-api-server_networking.k8s.io_v1_networkpolicy.yaml
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/default/kustomization.yaml
  config/networkpolicies/allow_egress_api_server.yaml
  config/networkpolicies/kustomization.yaml
  manifests/stable/operator-allow-egress-to-api-server_networking.k8s.io_v1_networkpolicy.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm

#1109 OCPBUGS-59290: [release-4.18] kernel: Avoid setting iommu.passthrough on ARM system
  pkg/consts/constants.go
  pkg/daemon/plugin_test.go
  pkg/plugins/generic/generic_plugin.go
  pkg/plugins/generic/generic_plugin_test.go
Labels: approved, lgtm, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1119 CNF-17884: Add RBAC permissions for network policies in SR-IOV operator
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
Labels: approved, lgtm, jira/valid-reference
