Repository openshift/sriov-network-operator, pull requests merged in 2025-01, with the labels that each got.

#1050 OCPBUGS-46446: Bump operator to 4.19
  Makefile.bundle
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/sriov-network-operator.clusterserviceversion.yaml
  manifests/sriov-network-operator.package.yaml
  manifests/stable/image-references
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/version/version.go
Labels: approved, lgtm, jira/severity-important, jira/valid-bug, jira/valid-reference

#1016 OCPBUGS-43106: [release-4.17] sriov-network-metrics-exporter fix for multiple nodes
  bindata/manifests/metrics-exporter/metrics-daemonset.yaml
  bindata/manifests/metrics-exporter/metrics-prometheus-rule.yaml
  bindata/manifests/metrics-exporter/metrics-prometheus.yaml
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  controllers/sriovoperatorconfig_controller.go
  controllers/sriovoperatorconfig_controller_test.go
  deploy/operator.yaml
  deploy/role.yaml
  deployment/sriov-network-operator-chart/README.md
  deployment/sriov-network-operator-chart/templates/operator.yaml
  deployment/sriov-network-operator-chart/templates/role.yaml
  deployment/sriov-network-operator-chart/values.yaml
  go.mod
  hack/run-e2e-conformance-virtual-ocp.sh
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  test/conformance/tests/test_exporter_metrics.go
  test/conformance/tests/test_sriov_operator.go
  test/util/crds/monitoring.coreos.com_prometheusrules.yaml
  test/util/k8sreporter/reporter.go
  test/util/namespaces/namespaces.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#1048 Merge https://github.com/k8snetworkplumbingwg/sriov-network-operator:master into master
  api/v1/helper.go
  bindata/scripts/kargs.sh
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  controllers/sriovnetworknodepolicy_controller.go
  controllers/sriovnetworknodepolicy_controller_test.go
  deployment/sriov-network-operator-chart/templates/operator.yaml
  deployment/sriov-network-operator-chart/values.yaml
  hack/run-e2e-conformance-virtual-cluster.sh
  hack/run-e2e-conformance.sh
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  pkg/consts/constants.go
  test/conformance/tests/test_policy_configuration.go
  test/conformance/tests/test_sriov_operator.go
  test/scripts/kargs_test.sh
Labels: approved, lgtm
