Repository openshift/sriov-network-operator, pull requests merged in 2025-08, with the labels that each got.

#1121 CNF-17884: Revert bundle Network Policies
  bundle/manifests/operator-allow-egress-to-api-server_networking.k8s.io_v1_networkpolicy.yaml
  config/default/kustomization.yaml
  config/networkpolicies/allow_egress_api_server.yaml
  config/networkpolicies/kustomization.yaml
  manifests/stable/operator-allow-egress-to-api-server_networking.k8s.io_v1_networkpolicy.yaml
Labels: approved, lgtm, jira/valid-reference

#1123 OCPBUGS-58816,OCPBUGS-58824: Bump glog dependency to v1.2.4 that fixes CVE-2024-45339
  go.mod
  go.sum
  vendor/github.com/golang/glog/glog.go
  vendor/github.com/golang/glog/glog_file.go
  vendor/github.com/golang/glog/glog_file_linux.go
  vendor/github.com/golang/glog/glog_file_nonwindows.go
  vendor/github.com/golang/glog/glog_file_other.go
  vendor/github.com/golang/glog/glog_file_posix.go
  vendor/github.com/golang/glog/glog_file_windows.go
  vendor/github.com/golang/glog/glog_flags.go
  vendor/github.com/golang/glog/internal/logsink/logsink.go
  vendor/modules.txt
Labels: approved, lgtm, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#1118 [release-4.13] OCPBUGS-59129,OCPBUGS-59130: Bump glog dependency to v1.2.4 that fixes CVE-2024-45339
  go.mod
  go.sum
  vendor/github.com/golang/glog/glog.go
  vendor/github.com/golang/glog/glog_file.go
  vendor/github.com/golang/glog/glog_file_linux.go
  vendor/github.com/golang/glog/glog_file_nonwindows.go
  vendor/github.com/golang/glog/glog_file_other.go
  vendor/github.com/golang/glog/glog_file_posix.go
  vendor/github.com/golang/glog/glog_file_windows.go
  vendor/github.com/golang/glog/glog_flags.go
  vendor/github.com/golang/glog/internal/logsink/logsink.go
  vendor/github.com/golang/glog/internal/logsink/logsink_fatal.go
  vendor/github.com/golang/glog/internal/stackdump/stackdump.go
  vendor/modules.txt
Labels: approved, lgtm, backport-risk-assessed, jira/severity-important, jira/valid-bug, jira/valid-reference

#1125 Manual Downstream Sync 2025-08-21
  config/samples/sriovnetwork_v1_sriovoperatorconfig.yaml
  hack/run-e2e-conformance-virtual-ocp.sh
  test/conformance/tests/test_sriov_operator.go
Labels: approved, lgtm
