Repository openshift/sriov-network-operator, pull requests merged in 2025-02, with the labels that each got.

#1053 Sync 2025 02 03
  .github/workflows/test.yml
  api/v1/helper.go
  api/v1/sriovnetworknodepolicy_types.go
  api/v1/zz_generated.deepcopy.go
  bundle/manifests/sriov-network-operator.clusterserviceversion.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  bundle/manifests/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  config/crd/bases/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  deployment/sriov-network-operator-chart/crds/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  deployment/sriov-network-operator-chart/crds/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  hack/env.sh
  manifests/stable/sriov-network-operator.clusterserviceversion.yaml
  manifests/stable/sriovnetwork.openshift.io_sriovnetworknodepolicies.yaml
  manifests/stable/sriovnetwork.openshift.io_sriovnetworknodestates.yaml
  pkg/host/internal/bridge/ovs/models.go
  pkg/host/internal/bridge/ovs/ovs.go
  pkg/host/internal/bridge/ovs/ovs_test.go
  pkg/host/internal/bridge/ovs/test_db.ovsschema
  pkg/vendors/mellanox/mellanox.go
  test/conformance/tests/test_networkpool.go
Labels: approved, lgtm

#1052 [th/deploy-detect-defaults] fix `make deploy-setup` to pass and autodetect some URLs
  hack/env.sh
Labels: approved, ok-to-test, lgtm

#1055 OCPBUGS-49802: [release-4.17] mlx fw reset
  Dockerfile.sriov-network-config-daemon
  cmd/sriov-network-config-daemon/start.go
  pkg/consts/constants.go
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
  pkg/helper/mock/mock_helper.go
  pkg/plugins/mellanox/mellanox_plugin.go
  pkg/vars/vars.go
  pkg/vendors/mellanox/mellanox.go
  pkg/vendors/mellanox/mock/mock_mellanox.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#1045 OCPBUGS-51255: [release-4.15] mlx fw reset
  Dockerfile.sriov-network-config-daemon
  cmd/sriov-network-config-daemon/start.go
  pkg/consts/constants.go
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
  pkg/helper/mock/mock_helper.go
  pkg/plugins/mellanox/mellanox_plugin.go
  pkg/vars/vars.go
  pkg/vendors/mellanox/mellanox.go
  pkg/vendors/mellanox/mock/mock_mellanox.go
Labels: approved, lgtm, cherry-pick-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference
